
<div class="card border col-md w-lg-500 text-center shadow-lg p-3 mb-5 bg-body-tertiary" style="width: 500px;">
    <h1 class="text-primary p-3">hello world!</h1>
    <div *ngIf="showmesg" class="showmesg text-success"><h1> Success!!</h1></div>
      <div  class="row input-group input-group-lg p-3">
        <span class="input-group-text" id="inputGroup-sizing-lg"> Nom</span>
        <input type="text" class="form-control" name="nom" aria-label="Votre nom" aria-describedby="inputGroup-sizing-lg" [(ngModel)]="personnel.nom" required>
        <span class="input-group-text" id="inputGroup-sizing-lg">Prenom</span>
        <input type="text" class="form-control" name="prenom" aria-label="votre prenom" aria-describedby="inputGroup-sizing-lg"[(ngModel)]="personnel.prenom" required >
        <span class="input-group-text" id="inputGroup-sizing-lg">age</span>
        <input type="number" class="form-control" name="age"aria-label="votre age" aria-describedby="inputGroup-sizing-lg" [(ngModel)]="personnel.age" required >
       
        <div class="flex">
          <button class="m-2 btn btn-secondary" style="width: 100px;" >Connexion</button>
          <button class="m-2 btn btn-primary" style="width: 100px;" type="submit"  (click)="onSubmit()">Add</button>
          
        </div>
      </div>       
   </div>

<div class="col-md mb-3">
  <ul class="list-group list-group-horizontal-xxl" *ngFor="let item of personnels">
    <li class="list-group-item d-flex justify-content-between">
      <p>{{ item.nom }}</p><p>{{ item.prenom }}</p><p>{{ item.age }}</p>
      <button class="btn btn-success" (click)="deletePersonnel(item.id)">del</button></li>
  </ul>
</div>
