.icon{
    font-size:30px;
}
header{
    background-color: #eee;
}
.strep{
    color: #eee;
    background-color: #eee;
}
@media (max-width: 768px) {
        .icon{
            font-size: 18px;
        }
}