.icon {
  font-size: 17px;
}
// header {
//   background-color: #eee;
// }
svg {
  width: 25px;
  height: 25px;
}
// nav{
//   background-color: #eee;
// }
@media (max-width: 768px) {
  .icon {
    font-size: 7px;
  }
 
  svg { 
    width: 10px;
    height: 10px;
  }
}
