<!-- 
<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-lg" aria-label="Global navigation - Standard example">
    <div class="container-xxl">

       Orange brand logo 
      <div class="navbar-brand me-auto me-lg-4">
        <a class="stretched-link" href="#">
          <img src="/assets/image/org.png" width="50" height="50" alt="Boosted - Back to Home" loading="lazy">
        </a>
      </div>

       Burger menu (visible on small screens) 
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".global-header-1" aria-controls="global-header-1.1 global-header-1.2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

       Navbar with links 
     
    

        <div id="global-header-1.1" class="navbar-collapse collapse me-lg-auto global-header-1">
          
          <ul class="navbar-nav">

            
              <li class="nav-item mx-3">
                <a class="nav-link" aria-current="page" routerLink="MenuDemande">Menu</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" aria-current="page" routerLink="consultation">Consultation</a>
              </li>
            
              <div *ngIf="role === 'CDG'">
                  <li class="nav-item mx-3">
                    <a class="nav-link " aria-current="page"routerLink="creationsession">Création session CD</a>
                  </li>
              </div>
          </ul>
      </div>
       Navbar with action icons 
      <div id="global-header-1.2" class="navbar-collapse collapse d-sm-flex global-header-1">
        <ul class="navbar-nav flex-row">
          <li class="nav-item">
            
            {{this.nom}}
            <div class="dropdown">
              <button class="btn nav-link" type="button" data-toggle="dropdown">
                <i class="icon fas fa-user-circle"></i>
              <span class="visually-hidden">My account</span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="">Deconnexion</a></li>
              </ul>
              </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link nav-icon" routerLink="notification">
              <i class="icon fas fa-bell" ></i>
              <span class="position-relative align-self-start">
                <span class="badge text-bg-danger rounded-pill position-absolute top-0 fs-6 translate-middle">
                  1
                </span>
              </span>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header> -->




<header class="d-flex navbar">
  <div class="header p-3 mx-2" style="max-width: 900px;">
    <div class="page-content page-container" id="page-content">
        <nav class="stepped-process" aria-label="Checkout process">
            <p class="float-start  fw-bold d-sm-none">Step</p>
            <ol>
                
               <li class="stepped-process-item active text-center">
               <div class="mx-5">
                
                <div class="dropdown">
                  <button class="btn nav-link" type="button" data-toggle="dropdown">
                    <i class="icon fas fa-user-circle"></i>
                  <span class="visually-hidden">My account</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="">Deconnexion</a></li>
                  </ul>
                  </div>
               </div>
                    
              </li> 
              <li class="stepped-process-item active bg-primary">
                <a class="stepped-process-link mx-5 text-white"  title="Menu" routerLink="MenuDemande">Menu</a>
              </li>
              <li class="stepped-process-item  active bg-black">
                <a class="stepped-process-link mx-5 text-white" routerLink="consultation">Consultation</a>
              </li>
              <div *ngIf="role === 'CDG'">
                  <li class="stepped-process-item active bg-black">
                    <a class="stepped-process-link mx-5 text-white"   routerLink="creationsession">Création session CD</a>
                  </li>
              </div>
              <li class="stepped-process-item active bg-black">
                <a class="stepped-process text-white nav-icon mx-5" title="notification" routerLink="notification">
                   <i class="icon fas fa-bell" ></i>
                  <span class="position-relative align-self-start">
                    <span class="badge text-bg-danger rounded-pill position-absolute top-0 fs-6 translate-middle">
                      1
                    </span>
                  </span>
                </a>
              </li>
              
              
              <li class="stepped-process-item strep">
                .
              </li>
            </ol>
          </nav>
    </div>
  </div>
  <div class=" p-3">
      <img src="/assets/image/org.png" width="50" height="50" alt="Boosted - Back to Home" loading="lazy">
  </div>
</header>




            
 

  
      
    






