
<div class="card border col-md w-lg-500 text-center shadow-lg p-3 mb-5 bg-body-tertiary" style="width: 500px;">
    <h1 class="text-primary p-3">hello world!</h1>
    
      <div  class="row input-group input-group-lg p-3">
        <span class="input-group-text" id="inputGroup-sizing-lg"> user</span>
        <input type="text" class="form-control" name="nom" aria-label="Votre nom" aria-describedby="inputGroup-sizing-lg"required>
        <span class="input-group-text" id="inputGroup-sizing-lg">MOT DE PASSE</span>
        <input type="text" class="form-control" name="nom" aria-label="Votre nom" aria-describedby="inputGroup-sizing-lg"required>
        
        <div class="flex">
          <button class="m-2 btn btn-secondary" style="width: 100px;" ><a routerLinkActive="active" routerLink="/login">Connexion</a></button>
          <button class="m-2 btn btn-primary" style="width: 100px;" ><a routerLinkActive="active" routerLink="/personnel">Inscription</a>
          </button>
        </div>
      </div>       
</div>

<router-outlet></router-outlet>

