
<div class="body">

	<!-- container div -->
	<div class="container">

		<!-- upper button section to select
			the login or signup form <div class="slider"></div>-->
		
		<!-- Form section that contains the
			login and the signup form -->
		<div class="form-section">

			<!-- login form -->
			<div class="login-box">
				<h1>Authenticaton</h1>
				<div class="error-message" *ngIf="errorStatus">
					<p style="color: red;">{{ errorMessage }}</p>
					
				</div>
				<!-- app.component.html -->
				<input type="text" class="ele1 form-control px-2" placeholder="Username" aria-label="Username" [(ngModel)]="this.logindata.username" aria-describedby="basic-addon1">
				
				
				<div class="ele1 input-group">
					<select class="ele1 form-select px-2" id="inputGroupSelect02">
					  <option selected>Choisir...</option>
					  <option value="1">CDG</option>
					  <option value="2">Prescripteur</option>
					  <option value="3">Achat</option>
					</select>
				  </div>
				  



				  <div class="form-group inner-addon right-addon">
					<div class="input-group col-6 mx-auto">
						  <input name="password"
						  [(ngModel)]="this.logindata.password"
						  [type]="showPassword ? 'text' : 'password'"
						  class=" ele1 form-control pwd-control px-2"
						  id="password-field" placeholder="Password">

					  <div>
						<i alt="show" class="far fa-eye fa-lg eye-show"
						   (click)="showPassword = !showPassword"
						   [class.hide]="showPassword"></i>
						<i alt="hide" class="far fa-eye-slash fa-lg eye-hide"
						   (click)="showPassword = !showPassword"
						   [class.hide]="!showPassword"></i>
					  </div>
					</div>
				  </div>

				<a class="text-success pass">forgot password</a>
<!--(click)="verifierLogin()"-->
				<button type="button" class="btn btn-primary" routerLink="/header" >connexion</button>
				<div>No account?<button class="signup border-0 text-info">create an account</button>
				</div>
			</div>


			<!-- signup form -->
			<div class="signup-box">
				<h1>Inscription</h1>
				<input type="text"
					class="ele1 form-control"  
					aria-label="Utilisateur" 
					aria-describedby="addon-wrapping"
					for="nom"
                    name="nom"
                    [(ngModel)]="personnel.nom"
					placeholder="entrer votre Nom">
				<input type="texte"
					class="ele1 form-control"  
					aria-label="Utilisateur" 
					aria-describedby="addon-wrapping"
                    name="prenom"
					for="prenom"
                    [(ngModel)]="personnel.prenom"
					placeholder="votre prenom">
                <input type="text"
					class="ele1 form-control"  
					aria-label="Utilisateur" 
					aria-describedby="addon-wrapping"
                    name="age"
					for="age"
                    [(ngModel)]="personnel.age"
					placeholder="votre age">
				<input type="password"
					class="ele1 form-control"  
					aria-label="Utilisateur" 
					aria-describedby="addon-wrapping"
					placeholder="mot de passe">
				<input type="password"
					class="ele1 form-control"  
					aria-label="Utilisateur" 
					aria-describedby="addon-wrapping"
					placeholder="Confirmer votre mot de passe">
					<div class="d-flex">
						<button class="login">Connexion</button>
						<button class="" (click)="onSubmit()">Save</button>
					</div>
					<div>
						<ul class="navbar-nav gap-2 flex-row align-self-start">
							<li><a href="#" class="btn-icon btn-social btn-twitter"><span class="visually-hidden">Twitter</span></a></li>
							<li><a href="#" class="btn-icon btn-social btn-whatsapp"><span class="visually-hidden">WhatsApp</span></a></li>
							<li><a href="#" class="btn-icon btn-social btn-linkedin"><span class="visually-hidden">LinkedIn</span></a></li>
							</ul>
					</div>
				</div>
		</div>
	</div>
</div>