<section>
  
<div class=" justify-content-between d-flex p-3">
  <div class="d-flex">
      <div class="label d-flex">
            <span class="input-group-text  mx-2" id="basic-addon1">Direction</span>
              <div class="input-group p-2">
                <select class="form-select" id="inputGroupSelect02">
                  <option selected>DTI</option>
                  <option value="1">DRH</option>
                  <option value="2">ODC</option>
                </select>
              </div>
       </div>
 
     <div class="label d-flex">
        <span class="input-group-text  mx-2" id="basic-addon1">session CD</span>
        <div class="input-group p-2">
          <select class="form-select" id="inputGroupSelect02">
            <option selected>OK</option>
            <option value="1">NOK</option>
            <option value="2">Stand By</option>
          </select>
        </div>
      </div>
</div>
<div class="d-flex">
    <button class="btn btn-primary " type="button">Cloture session</button>
    <button class="btn btn-primary mx-2" type="button">Enregistrer</button>
    <button class="btn btn-primary mx-2" routerLink="/main/MenuDemande">
     <i class="icon fas fa-close"></i>
    </button>
</div>

</div>
<div class="scrollmenu">
<div  id="navbarExample" class="scrollspy-example p-3 entete "data-spy="scroll" data-target="#navbarExample">
          

         
  <div class=" p-3 d-flex">
        <div>
          <span class="input-group-text " id="basic-addon1">Validation </span>
        </div>
        <div>
          <span class="input-group-text " id="basic-addon1">Motif </span>
        </div>
        <div>
          <span class="input-group-text " id="basic-addon1">Devise </span>
        </div>
        <div>
          <span class="input-group-text " id="basic-addon1">Montant </span>
      </div>
        <div>
          <span class="input-group-text " id="basic-addon1">fournisseurs</span>
        </div>
        <div>
          <span class="input-group-text " id="basic-addon1">Commentaires CD</span>
        </div>
        <div>
          <span class="input-group-text" id="basic-addon1">Periode</span>
        </div>
        <div>
          <span class="input-group-text " id="basic-addon1">Commentaire Prescripteur</span>
        </div>
        <div>
          <span class="input-group-text " id="basic-addon1">Commentaire Achat</span>
        </div>
</div>
          
<fieldset class="form-group border border-end-0">
  <legend class=" px-2">
          <button  (click)="toggleUp()" class="btn"data-bs-toggle="collapse" href="#collapseExample"  aria-expanded="false" aria-controls="collapseExample">
              <i class="fa" [ngClass]="{'fa-chevron-up': isUp1, 'fa-chevron-down': !isUp1}"></i>
            </button>
   </legend>
 <!--  -->
  <div class="collapse" id="collapseExample" >
      <div class="" >
          <div class="">
            <div style="height: 300px;" data-offset="50">    
              <ul class="list-group list-inline">
                <li *ngFor="let detail of this.DetailDemande">
                  <ng-container *ngIf="detail.validationprescripteur && detail.validationachat">
                   <!-- <ng-container *ngFor="let comspres of this.aviscdg">
                    <ng-container *ngFor="let comsachat of this.avisAchat">
                        -->
                  <div class="d-flex">
                    <div class="">
                      <div class="input-group p-2">
                        <select class="form-select" id="inputGroupSelect02">
                          <option selected>OK</option>
                          <option value="1">NOK</option>
                          <option value="2">Stand By</option>
                        </select>
                      </div>
                    </div>
                    
                    <div class="">
                      <span class="input-group-text" id="basic-addon1">{{this.detail.titre}}</span>
                    </div>
                    <div class="">
                      <span class="input-group-text " id="basic-addon1">{{this.detail.devise}}</span>
                    </div>
                    <div>
                      <span class="input-group-text " id="basic-addon1">{{this.detail.montantht}}</span>
                    </div>
                    <div>
                      <span class="input-group-text " id="basic-addon1">{{this.detail.fournisseur}}</span>
                    </div>
                    <div class="p-2">
                      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [ngModel]="this.demande.commentaireCd">
                    </div>
                    <div>
                        <div class="input-group p-2">
                          <select class="form-select"  [(ngModel)]="this.detail.idperiode"id="inputGroupSelect04" aria-label="Example select with button addon">
                            <option *ngFor="let item of this.periodes" [value]="item.id"> {{item.designation}}  </option>
                          </select>
                      </div> 
                      </div>
                      <div class="p-2">
                        <span class="input-group-text " id="basic-addon1">{{this.detail.comsprescripteur}}</span>
                      </div>
                      <div class="p-2">
                        <span class="input-group-text " id="basic-addon1">{{this.detail.comsAchat}}</span>
                      </div>
                  </div>
                  </ng-container>
                </li>
              </ul>
          </div> 
          </div>
        </div>
    </div>
</fieldset>
<br><br> 
    <ul class="list-group list-inline">
      <li *ngFor="let detail of this.DetailDemande">
        <ng-container *ngIf="detail.validationprescripteur && detail.validationachat && !detail.titre">
         <!-- <ng-container *ngFor="let comspres of this.aviscdg">
          <ng-container *ngFor="let comsachat of this.avisAchat">
              -->
        <div class="d-flex">
          <div class="">
            <div class="input-group p-2">
              <select class="form-select" id="inputGroupSelect02">
                <option selected>OK</option>
                <option value="1">NOK</option>
                <option value="2">Stand By</option>
              </select>
            </div>
          </div>
          <div class="">
            <span class="input-group-text" id="basic-addon1">{{this.detail.titre}}</span>
          </div>
          <div class="">
            <span class="input-group-text " id="basic-addon1">{{this.detail.devise}}</span>
          </div>
          <div>
            <span class="input-group-text " id="basic-addon1">{{this.detail.montantht}}</span>
          </div>
          <div>
            <span class="input-group-text " id="basic-addon1">{{this.detail.fournisseur}}</span>
          </div>
          <div class="p-2">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div>
              <div class="input-group p-2">
                <select class="form-select"  [(ngModel)]="this.detail.idperiode"id="inputGroupSelect04" aria-label="Example select with button addon">
                  <option *ngFor="let item of this.periodes" [value]="item.id"> {{item.designation}}  </option>
                </select>
            </div> 
            </div>
            <div class="p-2">
              <span class="input-group-text " id="basic-addon1">{{this.detail.comsprescripteur}}</span>
            </div>
            <div class="p-2">
              <span class="input-group-text " id="basic-addon1">{{this.detail.comsAchat}}</span>
            </div>
        </div>
        </ng-container>
      </li>
    </ul>
   

      </div>
</div>
 



</section>