<section>
  <div class="justify-content-between d-flex p-3">
    <div class="d-flex">
      <div class="label d-flex">
        <span class="input-group-text mx-2" id="basic-addon1">Direction</span>
        <div class="input-group p-2">
          <select class="form-select" id="inputGroupSelect02">
            <option selected>DTI</option>
            <option value="1">DRH</option>
            <option value="2">ODC</option>
          </select>
        </div>
      </div>

      <div class="label d-flex">
        <span class="input-group-text mx-2" id="basic-addon1">session CD</span>
        <div class="input-group p-2">
          <select class="form-select" id="inputGroupSelect02">
            <option selected>OK</option>
            <option value="1">NOK</option>
            <option value="2">Stand By</option>
          </select>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="error-message mx-3">
        <p class="text-success">{{ errorMessage }}</p>
      </div>
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        data-bs-whatever="@mdo"
      >
        Cloture session
      </button>
      <button class="btn btn-primary mx-2" routerLink="/main/MenuDemande">
        <i class="icon fas fa-close"></i>
      </button>
    </div>
  </div>
  <div class="scrollmenu">
    <div
      id="navbarExample"
      class="scrollspy-example p-3 entete"
      data-spy="scroll"
      data-target="#navbarExample"
    >
      <!-- <div class="d-flex">
        <div>
          <span class="input-group-text " id="basic-addon1">Validation </span>
        </div>
        <div>
          <span class="input-group-text " id="basic-addon1">Motif </span>
        </div>
        <div>
          <span class="input-group-text " id="basic-addon1">Devise </span>
        </div>
        <div>
          <span class="input-group-text " id="basic-addon1">Montant </span>
      </div>
        <div>
          <span class="input-group-text " id="basic-addon1">fournisseurs</span>
        </div>
        <div>
          <span class="input-group-text " id="basic-addon1">Commentaires CD</span>
        </div>
        <div>
          <span class="input-group-text" id="basic-addon1">Periode</span>
        </div>
        <div>
          <span class="input-group-text " id="basic-addon1">Commentaire Prescripteur</span>
        </div>
        <div>
          <span class="input-group-text " id="basic-addon1">Commentaire Achat</span>
        </div>
</div> -->
      <table class="table" class="collapse show" id="collapseExample">
        <tr>
          <th class="p-5">Validation</th>
          <th class="p-5">Motif</th>
          <th class="p-5">Devise</th>
          <th class="p-5">Montant (HT)</th>
          <th class="p-5">Fournisseur</th>
          <th class="p-5">C/aire CD</th>
          <th class="p-5">Periode</th>
          <th class="p-5">C/aires Prescripteur</th>
          <th class="p-5">C/aires D'Achat</th>
        </tr>
      </table>
      <fieldset class="form-group border border-end-0">
        <legend class="px-2">
          <button
            (click)="toggleUp()"
            class="btn"
            data-bs-toggle="collapse"
            href="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <i
              class="fa"
              [ngClass]="{ 'fa-chevron-up': isUp1, 'fa-chevron-down': !isUp1 }"
            ></i>
          </button>
        </legend>
        <!--  -->
        <div class="collapse" id="collapseExample">
          <div class="">
            <div class="">
              <div style="height: 300px" data-offset="50">
                <table class="table">
                  <tr>
                    <th class="p-3">Validation</th>
                    <th class="p-3">Motif</th>
                    <th class="p-3">Devise</th>
                    <th class="p-3">Montant (HT)</th>
                    <th class="p-3">Fournisseur</th>
                    <th class="p-3">C/aire CD</th>
                    <th class="p-3">Periode</th>
                    <th class="p-3">C/aires Prescripteur</th>
                    <th class="p-3">C/aires D'Achat</th>
                  </tr>
                  <tr *ngFor="let detail of this.DetailDemande; let i = index">
                    <ng-container
                      *ngIf="detail.validationcdg && detail.validationachat"
                    >
                      <td class="p-3">
                        <select
                          class="form-select"
                          [(ngModel)]="this.DetailDemande[i].etatFinal"
                          (ngModelChange)="
                            onChampModifie(
                              i,
                              DetailDemande[i].comsCd,
                              this.DetailDemande[i].idperiode,
                              this.detail.id,
                              this.DetailDemande[i].etatFinal
                            )
                          "
                          aria-label="Example select with button addon"
                        >
                          <option
                            *ngIf="
                              this.DetailDemande[i].etatFinal === 'En Attente'
                            "
                            [ngValue]="'En Attente'"
                            selected
                          >
                            En Attente
                          </option>
                          <option
                            *ngIf="this.DetailDemande[i].etatFinal === 'NOK'"
                            [ngValue]="'NOK'"
                            selected
                          >
                            NOK
                          </option>
                          <option
                            *ngIf="this.DetailDemande[i].etatFinal === 'OK'"
                            [ngValue]="'OK'"
                            selected
                          >
                            OK
                          </option>
                          <option
                            *ngIf="
                              this.DetailDemande[i].etatFinal == 'OK' ||
                              this.DetailDemande[i].etatFinal == 'NOK'
                            "
                          >
                            En Attente
                          </option>
                          <option
                            *ngIf="this.DetailDemande[i].etatFinal === 'OK'"
                          >
                           NOK
                          </option>
                          <option
                            *ngIf="this.DetailDemande[i].etatFinal === 'NOK'"
                          >
                            OK
                          </option>

                          <option
                            *ngIf="this.DetailDemande[i].etatFinal === 'En Attente'"
                          >
                           OK
                          </option>
                          <option
                            *ngIf="this.DetailDemande[i].etatFinal === 'En Attente'"
                          >
                           NOK
                          </option>
                          
                         
                          
                          <!-- ivide -->
                          <option *ngIf="!this.DetailDemande[i].etatFinal">
                            NOK
                          </option>
                          <option *ngIf="!this.DetailDemande[i].etatFinal">
                            OK
                          </option>
                          <option *ngIf="!this.DetailDemande[i].etatFinal">
                            En Attente
                          </option>
                        </select>
                      </td>
                      <td class="p-3">{{ this.detail.titre }}</td>
                      <td class="p-3">{{ this.detail.devise }}</td>
                      <td class="p-3">{{ this.detail.montantht }}</td>
                      <td class="p-3">{{ this.detail.fournisseur }}</td>
                      <td class="p-1">
                        <input
                          type="text"
                          [(ngModel)]="this.DetailDemande[i].comsCd"
                          class=""
                          (ngModelChange)="
                            onChampModifie(
                              i,
                              DetailDemande[i].comsCd,
                              this.DetailDemande[i].idperiode,
                              this.detail.id,
                              this.DetailDemande[i].etatFinal
                            )
                          "
                          aria-label="Example select with button addon"
                          aria-describedby="basic-addon1"
                        />
                      </td>
                      <td class="p-3">
                        <select
                          class="form-select"
                          [(ngModel)]="this.DetailDemande[i].idperiode"
                          id="idPeriode"
                          (ngModelChange)="
                            onChampModifie(
                              i,
                              DetailDemande[i].comsCd,
                              this.DetailDemande[i].idperiode,
                              this.detail.id,
                              this.DetailDemande[i].etatFinal
                            )
                          "
                          aria-label="Example select with button addon"
                        >
                          <option
                            *ngFor="let item of this.periodes"
                            [value]="item.id"
                          >
                            {{ item.designation }}
                          </option>
                        </select>
                      </td>
                      <td class="p-3">{{ this.detail.comsprescripteur }}</td>
                      <td class="p-3">{{ this.detail.comsAchat }}</td>
                    </ng-container>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <br /><br />
      <!-- validation sans titre  -->

      <tr *ngFor="let detail of this.DetailDemande; let i = index">
        <ng-container
          *ngIf="
            detail.validationcdg &&
            detail.validationachat &&
            !detail.titre &&
            detail.iddirection === this.direction.id
          "
        >
          <td class="p-3">
            <select
              class="form-select"
              [(ngModel)]="this.DetailDemande[i].etatFinal"
              (ngModelChange)="
                onChampModifie(
                  i,
                  DetailDemande[i].comsCd,
                  this.DetailDemande[i].idperiode,
                  this.detail.id,
                  this.DetailDemande[i].etatFinal
                )
              "
              aria-label="Example select with button addon"
            >
              <option
                *ngIf="this.DetailDemande[i].etatFinal === 'En Attente'"
                [ngValue]="'En Attente'"
                selected
              >
                En Attente
              </option>
              <option
                *ngIf="this.DetailDemande[i].etatFinal === 'NOK'"
                [ngValue]="'NOK'"
                selected
              >
                NOK
              </option>
              <option
                *ngIf="this.DetailDemande[i].etatFinal === 'OK'"
                [ngValue]="'OK'"
                selected
              >
                OK
              </option>
              <option
                *ngIf="
                  this.DetailDemande[i].etatFinal == 'OK' ||
                  this.DetailDemande[i].etatFinal == 'NOK'
                "
              >
                En Attente
              </option>
              <option *ngIf="this.DetailDemande[i].etatFinal === 'OK'">
                OK
              </option>
              <option *ngIf="this.DetailDemande[i].etatFinal === 'NOK'">
                NOK
              </option>
              <option *ngIf="this.DetailDemande[i].etatFinal === 'NOK'">
                NOK
              </option>
              <option *ngIf="!this.DetailDemande[i].etatFinal">NOK</option>
              <option *ngIf="!this.DetailDemande[i].etatFinal">OK</option>
              <option *ngIf="!this.DetailDemande[i].etatFinal">
                En Attente
              </option>
            </select>
          </td>
          <td class="p-3">{{ this.detail.titre }}</td>
          <td class="p-3">{{ this.detail.devise }}</td>
          <td class="p-3">{{ this.detail.montantht }}</td>
          <td class="p-3">{{ this.detail.fournisseur }}</td>
          <td class="p-3">
            <input
              type="text"
              [(ngModel)]="this.DetailDemande[i].comsCd"
              class="form-control mb-2"
              (ngModelChange)="
                onChampModifie(
                  i,
                  DetailDemande[i].comsCd,
                  this.DetailDemande[i].idperiode,
                  this.detail.id,
                  this.DetailDemande[i].etatFinal
                )
              "
              placeholder=""
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </td>
          <td class="p-3">
            <select
              class="form-select"
              [(ngModel)]="this.DetailDemande[i].idperiode"
              id="idPeriode"
              (ngModelChange)="
                onChampModifie(
                  i,
                  DetailDemande[i].comsCd,
                  this.DetailDemande[i].idperiode,
                  this.detail.id,
                  this.DetailDemande[i].etatFinal
                )
              "
              aria-label="Example select with button addon"
            >
              <option *ngFor="let item of this.periodes" [value]="item.id">
                {{ item.designation }}
              </option>
            </select>
          </td>
          <td class="p-3">{{ this.detail.comsprescripteur }}</td>
          <td class="p-3">{{ this.detail.comsAchat }}</td>
        </ng-container>
      </tr>
    </div>
  </div>

  <!--POP UP TITRTE-->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title h5" id="exampleModalLabel">Cloture session</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="Close"
          >
            <span class="visually-hidden">Close</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="label d-flex">
              <div class="p-2">
                <span class="input-group-text mb-2" id="basic-addon1"
                  >Reference</span
                >
                <span class="input-group-text mb-2" id="basic-addon1"
                  >Date</span
                >
              </div>
              <div class="input-group p-2">
                <input
                  type="text"
                  class="form-control mb-2"
                  placeholder="Reference"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
                <input
                  type="datetime-local"
                  class="form-control mb-2"
                  placeholder="Date"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Cloture
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <ul class="list-group list-inline">
  <li *ngFor="let detail of this.DetailDemande; let  i= index">
    <ng-container *ngIf="detail.validationcdg && detail.validationachat">
   
    <div class="d-flex">
      <div class="">
        <div class="input-group p-2">
          <select class="form-select"  [(ngModel)]="this.DetailDemande[i].etatFinal" (ngModelChange)="onChampModifie(i,DetailDemande[i].comsCd,this.DetailDemande[i].idperiode,this.detail.id,this.DetailDemande[i].etatFinal)" aria-label="Example select with button addon">
            <option *ngIf="this.DetailDemande[i].etatFinal === 'En Attente'"  [ngValue]="'En Attente'" selected>En Attente</option>
            <option *ngIf="this.DetailDemande[i].etatFinal  === 'NOK'"  [ngValue]="'NOK'" selected>NOK</option>
            <option *ngIf="this.DetailDemande[i].etatFinal  === 'OK'"  [ngValue]="'OK'" selected>OK</option>
            <option *ngIf="this.DetailDemande[i].etatFinal == 'OK' || this.DetailDemande[i].etatFinal == 'NOK'">En Attente</option>
            <option *ngIf="this.DetailDemande[i].etatFinal  === 'OK'">OK </option>
            <option *ngIf="this.DetailDemande[i].etatFinal  === 'NOK'">NOK</option>
            <option *ngIf="this.DetailDemande[i].etatFinal  === 'NOK'">NOK</option>
            <option *ngIf="!this.DetailDemande[i].etatFinal">NOK</option>   
            <option *ngIf="!this.DetailDemande[i].etatFinal ">OK</option>   
            <option *ngIf="!this.DetailDemande[i].etatFinal ">En Attente</option>   

          </select>
        </div>
      </div>
      <div class="">
        <span class="input-group-text" id="basic-addon1">{{this.detail.titre}}</span>
      </div>
      <div class="">
        <span class="input-group-text " id="basic-addon1">{{this.detail.devise}}</span>
      </div>
      <div>
        <span class="input-group-text " id="basic-addon1">{{this.detail.montantht}}</span>
      </div>
      <div>
        <span class="input-group-text " id="basic-addon1">{{this.detail.fournisseur}}</span>
      </div>
        <div class="p-2">
         
          <input type="text"  [(ngModel)]="this.DetailDemande[i].comsCd" class="form-control mb-2"(ngModelChange)="onChampModifie(i,DetailDemande[i].comsCd,this.DetailDemande[i].idperiode,this.detail.id,this.DetailDemande[i].etatFinal)" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        <div>
            <div class="input-group p-2">
              <select class="form-select"  [(ngModel)]="this.DetailDemande[i].idperiode"  id="idPeriode" (ngModelChange)="onChampModifie(i,DetailDemande[i].comsCd,this.DetailDemande[i].idperiode,this.detail.id,this.DetailDemande[i].etatFinal)" aria-label="Example select with button addon">
                <option *ngFor="let item of this.periodes" [value]="item.id"> {{item.designation}}  </option>
              </select>
            </div> 
        </div>
        <div class="p-2">
          <span class="input-group-text " id="basic-addon1">{{this.detail.comsprescripteur}}</span>
        </div>
        <div class="p-2">
          <span class="input-group-text " id="basic-addon1">{{this.detail.comsAchat}}</span>
        </div>
    </div>
    </ng-container>
  </li>
</ul> 
<ul class="list-group list-inline">
      <li *ngFor="let detail of this.DetailDemande; let  i= index">
        <ng-container *ngIf="detail.validationprescripteur && detail.validationachat && !detail.titre && detail.iddirection === this.direction.id">
        
              <div class="d-flex">
                <div class="">
                  <div class="input-group p-2">
                    <select class="form-select"  [(ngModel)]="this.DetailDemande[i].etatFinal" (ngModelChange)="onChampModifie(i,DetailDemande[i].comsCd,this.DetailDemande[i].idperiode,this.detail.id,this.DetailDemande[i].etatFinal)" aria-label="Example select with button addon">
                      <option *ngIf="this.DetailDemande[i].etatFinal === 'En Attente'"  [ngValue]="'En Attente'" selected>En Attente</option>
                      <option *ngIf="this.DetailDemande[i].etatFinal  === 'NOK'"  [ngValue]="'NOK'" selected>NOK</option>
                      <option *ngIf="this.DetailDemande[i].etatFinal  === 'OK'"  [ngValue]="'OK'" selected>OK</option>
                      <option *ngIf="this.DetailDemande[i].etatFinal == 'OK' || this.DetailDemande[i].etatFinal == 'NOK'">En Attente</option>
                      <option *ngIf="this.DetailDemande[i].etatFinal  === 'OK'">OK </option>
                      <option *ngIf="this.DetailDemande[i].etatFinal  === 'NOK'">NOK</option>
                      <option *ngIf="this.DetailDemande[i].etatFinal  === 'NOK'">NOK</option>
                      <option *ngIf="!this.DetailDemande[i].etatFinal">NOK</option>   
                      <option *ngIf="!this.DetailDemande[i].etatFinal ">OK</option>   
                      <option *ngIf="!this.DetailDemande[i].etatFinal ">En Attente</option>   

                    </select>
                  </div>
                </div>
                <div class="">
                  <span class="input-group-text" id="basic-addon1">{{this.detail.titre}}</span>
                </div>
                <div class="">
                  <span class="input-group-text " id="basic-addon1">{{this.detail.devise}}</span>
                </div>
                <div>
                  <span class="input-group-text " id="basic-addon1">{{this.detail.montantht}}</span>
                </div>
                <div>
                  <span class="input-group-text " id="basic-addon1">{{this.detail.fournisseur}}</span>
                </div>
                  <div class="p-2">
                      <input type="text"  [(ngModel)]="this.DetailDemande[i].comsCd" class="form-control mb-2"(ngModelChange)="onChampModifie(i,DetailDemande[i].comsCd,this.DetailDemande[i].idperiode,this.detail.id,this.DetailDemande[i].etatFinal)" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                   </div>
                  <div>
                      <div class="input-group p-2">
                        <select class="form-select"  [(ngModel)]="this.DetailDemande[i].idperiode"  id="idPeriode" (ngModelChange)="onChampModifie(i,DetailDemande[i].comsCd,this.DetailDemande[i].idperiode,this.detail.id,this.DetailDemande[i].etatFinal)" aria-label="Example select with button addon">
                          <option *ngFor="let item of this.periodes" [value]="item.id"> {{item.designation}}  </option>
                        </select>
                      </div> 
                  </div>
                  <div class="p-2">
                    <span class="input-group-text " id="basic-addon1">{{this.detail.comsprescripteur}}</span>
                  </div>
                  <div class="p-2">
                    <span class="input-group-text " id="basic-addon1">{{this.detail.comsAchat}}</span>
                  </div>
              </div>
        </ng-container>
      </li>
    </ul>
-->
