<body>
  <section class="mx-3">
    
    <!-- champ de recherche -->
    <div class="main">
      <div class="justify-content-around d-flex p-3">
        <div class="d-flex">
          <div class="label">
            <span class="input-group-text mb-2" id="basic-addon1"
              >Direction</span
            >
            <span class="input-group-text mb-2" id="basic-addon1">Statut</span>
          </div>
          <div class="mx-3">
            <div class="input-group mb-2">
              <select
                class="form-select"
                [(ngModel)]="this.demande.idDirection"
                id="inputGroupSelect04"
                aria-label="Example select with button addon"
              >
                <option *ngFor="let item of this.directions" [value]="item.id">
                  {{ item.designation }}
                </option>
              </select>
            </div>
            <div class="input-group mb-2">
              <select
                class="form-select"
                [(ngModel)]="this.demande.statut"
                
              >
              <option *ngFor="let item of this.statut" [value]="item.value">
                {{ item.item }}
              </option>
                <!-- <option >OK</option>
                <option >NOK</option>
                <option >En Attente</option> -->
              </select>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="label">
            <span class="input-group-text mb-2" id="basic-addon1"
              >session CD</span
            >
            <span class="input-group-text mb-2" id="basic-addon1"
              >fournisseurs</span
            >
            <span class="input-group-text mb-2" id="basic-addon1">Motif</span>
          </div>
          <div class="mx-3">
            <div class="input-group mb-2">
              <select
                class="form-select"
                [(ngModel)]="this.demande.idsession"
                id="inputGroupSelect04"
                aria-label="Example select with button addon"
              >
                <option *ngFor="let item of this.sessioncd" [value]="item.id">
                  {{ item.ref }}
                </option>
              </select>
            </div>
            <div class="input-group mb-2">
              <select
                class="form-select"
                [(ngModel)]="this.demande.idFournisseur"
                id="inputGroupSelect04"
                aria-label="Example select with button addon"
              >
                <option
                  *ngFor="let item of this.fournisseurs"
                  [value]="item.id"
                >
                  {{ item.nom }}
                </option>
              </select>
            </div>
            <input
              type="text"
              class="form-control mb-2"
              placeholder=""
              aria-label=""
              aria-describedby="basic-addon1"
              [(ngModel)]="demande.motif"
            />
          </div>
        </div>
        <div class="d-flex">
          <div class="label">
            <span class="input-group-text mb-2" id="basic-addon1"
              >Date debut</span
            >
            <span class="input-group-text mb-2" id="basic-addon1"
              >Date fin</span
            >
          </div>
          <div class="mx-3">
            <input
              type="date"
              class="form-control mb-2"
              placeholder=""
              aria-label=""
              aria-describedby="basic-addon1"
              [(ngModel)]="demande.datedebut"
            />
            <input
              type="date"
              class="form-control mb-2"
              placeholder=""
              aria-label=""
              aria-describedby="basic-addon1"
              [(ngModel)]="demande.datefin"
            />
            <div class="d-flex">
              <button
                class="btn btn-primary  mb-2 p-2 mx-3"
                type="button"
                (click)="
                  rechercher(
                    this.demande.idDirection,
                    this.demande.statut,
                    this.demande.motif,
                    this.demande.datedebut,
                    this.demande.datefin,
                    this.demande.SessionCd,
                    this.demande.idFournisseur,
                    this.demande.idsession

                  )
                "
              >
                <i class="icon fas fa-search"></i>
              </button>
              <button
                class="btn btn-primary  mb-2 p-2"
                type="button"
                (click)="supprimer()"
              >
                <i class="icon fas fa-close"></i>
              </button>
            </div>
          </div>
        </div>
      </div>



      <!-- <fieldset class="form-group border border-primary p-1">
                        <legend class="bg-transparent w-auto px-2  navbar-static p-2">Listes des demandes d'engagement
                               
                         </legend>
                        
                          <div class="card-body scrollspy-example bg-white" data-spy="scroll" data-target="#navbarExample" data-offset="50">    
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item p-3 justify-content-between d-flex">
                                      <p>yitjuojuyklujuk</p>
                                      <div>
                                          <i class="icon fas fa-chevron-circle-right" ></i>
                                      </div>
                                  </li>
                                  <li class="list-group-item p-3 justify-content-between d-flex">
                                      <p>yitjuojuyklujuk</p>
                                      <div>
                                          <i class="icon fas fa-chevron-circle-right" ></i>
                                      </div>
                                  </li>
                                  <li class="list-group-item p-3 justify-content-between d-flex">
                                      <p>yitjuojuyklujuk</p>
                                      <div>
                                          <i class="icon fas fa-chevron-circle-right" ></i>
                                      </div>
                                  </li>
                                </ul>
                          </div>
              
                       
                    </fieldset>  -->
                    <!-- tableau de consultation -->
      <fieldset class="form-group border border-end-0 mx-4">
        <div class="scrollmenu">
          <div
            id="navbarExample"
            class="scrollspy-example p-3 entete"
            data-spy="scroll"
            data-target="#navbarExample"
          >
            <div style="height: 480px" data-offset="50">
              <table class="table table-fixed" id="montable">
                <tr class="titre">
                  <th class="texte">Regularisation</th>
                  <th class="texte">Type</th>
                  <th class="texte">Motif</th>
                  <th class="texte">Montant (HT)</th>
                  <th class="texte">Devise</th>
                  <th class="texte">Fournisseur</th>
                  <th class="texte">Montant MGA HT</th>
                  <th class="texte">C/aire prs</th>
                  <th class="texte">Periode</th>
                  <th class="texte">C/aires CDG</th>
                  <th class="texte">C/aires DASC</th>
                  <th class="texte">Decision CD</th>
                  <th class="texte">C/aires CD</th>
                </tr>

                <tr *ngFor="let detail of this.allDetails">
                  <td class="texte" >{{ this.detail.estregularisation? 'Oui' : 'Non' }}   </td>
                  <td class="texte">{{ this.detail.typereference }}</td>
                  <td class="texte"  >{{ this.detail.motif }}</td>
                  <td class="texte">{{ this.detail.montantht }}</td>
                  <td class="texte">{{ this.detail.devise }}</td>
                  <td class="texte">{{ this.detail.fournisseur }}</td>
                  <td class="texte">{{ this.detail.montantMga }}</td>
                  <td class="texte">{{ this.detail.comsprescripteur }}</td>
                  <td class="texte">{{ this.detail.periode }}</td>
                  <td class="texte">{{ this.detail.comsCdg }}</td>
                  <td class="texte">{{ this.detail.comsAchat }}</td>
                  <td class="texte">{{ this.detail.etatFinal }}</td>
                  <td class="texte">{{ this.detail.comsCd }}</td>
                </tr> 
              </table> 


             
            </div>
          </div>
        </div>
      </fieldset>
    </div>




    


<!-- bouton export excel -->

    <div class="bt p-3 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-success text-white p-2"
        (click)="exportToExcel()"
      >
        Exporter
      </button>
    </div>
  </section>
</body>
