body{
    background-color: #ddd;
     }
    
      .input-group,.form-control{
        width: 200px;
       }
       .icon{font-size: 30px;}
       @media (max-width: 768px) {
         .icon{
             font-size: 18px;
         } 
         .input-group,.form-control{
          width: 100px;
         }
 }