// body{
//   background-color: #eee;
//   height: 770px;
// }
// fieldset{
//   background-color: #eee;
// }
.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
.scrollspy-example {
  overflow: auto;
  position: relative;
  }

  div.scrollmenu span {
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
 
.input-group,.form-control{
      width: 200px;
   }
.icon{font-size: 20px;}
 @media (max-width: 768px) {
     .icon{
         font-size: 10dpx;
      } 
     .input-group,.form-control{
        width: 100px;
      }
 }
 

