<body>
    <section class="mx-3">
      <div class="main mx-2">
        
                      <!--partie Prescripteur-->
                      <fieldset class="form-group border border-1">
                              <!--titre du Prescripteur-->  
                              <legend class="w-auto px-2">Prescripteur
                                        <button  (click)="toggleUp()" class="btn" data-bs-toggle="collapse" href="#collapseExample"  aria-expanded="false" aria-controls="collapseExample">
                                            <i class="fa" [ngClass]="{'fa-chevron-up': isUp1, 'fa-chevron-down': !isUp1}"></i>
                                          </button>
                                </legend>
                                
                              <!-- les attributs du  prescripteur -->
                                <div class="collapse show" id="collapseExample" >
                                    <div class="card card-body">
                                      <div class="col-sm-12 col-lg-3 offset-lg-1" style="width: 80%;">
                 
                                        <!-- <form class="needs-validation mb-5" novalidate> -->
                                        <div class="row">
                                            <div class="col-md-6">
                                           
                                                <div class="col-sm-4 col-md-6 mb-3">
                                                  <div class="mb-3">
                                                    <label for="email" id="emailLabel" class="form-label is-required">Date de creation<span class="visually-hidden"> (required)</span></label>
                                                     <span  class="form-control"  id="lastName" aria-labelledby="lastNameLabel lastNameFeedback" autocomplete="family-name" required>{{this.demande.dateCreation| date:'dd MM yy HH:mm'}}</span>

                                                    <div class="valid-feedback">
                                                      Bien!
                                                    </div>
                                                    <div id="emailFeedback" class="invalid-feedback">
                                                      date vide.
                                                    </div>
                                                  </div>
                                                <!-- <span class="text-primary me-1">*</span>indicates required -->
                                                <label for="selectTitle" id="selectTitleLabel" class="form-label is-required">Titre<span class="visually-hidden"> (required)</span></label>
                                                <div class="input-group mb-2">
                                                  <!-- <select
                                                    class="form-select"
                                                    [(ngModel)]="this.demande.idTitreDepense"
                                                    id="idtitre"aria-labelledby="countryLabel countryFeedback" autocomplete="country-name" required
                                                  >
                                                    <ng-container *ngFor="let titre of this.titres">
                                                      <option
                                                        *ngIf="titre.idDirection === this.direction.id && titre.designation!='sans titre'"
                                                        [value]="titre.id"
                                                      >
                                                        {{ titre.designation }}
                                                      </option>
                                                    </ng-container>
                                                  </select> -->
                                                  <select class="form-select" [(ngModel)]="this.demande.idTitreDepense" id="titreDepense" aria-label="Liste déroulante des titres de dépenses">
                                                    <option *ngFor="let titre of titres" [value]="titre.id">{{ titre.designation }}</option>
                                                </select>
                                                  <button
                                                    class="btn btn-outline-secondary"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-whatever="@mdo"
                                                  >
                                                    +
                                                  </button>
                                                </div>
                                               
                                                  <div class="valid-feedback">
                                                    Bien!
                                                  </div>
                                                  <div id="selectTitleFeedback" class="invalid-feedback">
                                                    titre vide.
                                                  </div>
                                                </div>
                                                <div class="col-12">
                                                  <div class="mb-3">
                                                    <label for="firstName" id="firstNameLabel" class="form-label is-required">OPEX/CAPEX<span class="visually-hidden"> (required)</span></label>
                                                    <select class="form-select" id="country" [(ngModel)]="this.demande.depense" aria-labelledby="countryLabel countryFeedback" autocomplete="country-name" required>
                                                        <!-- <option selected disabled value="" aria-hidden="true">Select a country</option> -->
                                                        <option value="OPEX">OPEX</option>
                                                        <option value="CAPEX">CAPEX</option>
                                                      </select>
                                                      <div class="valid-feedback">
                                                      Bien!
                                                    </div>
                                                    <div id="firstNameFeedback" class="invalid-feedback">
                                                      selectionnez opex ou capex .
                                                    </div>
                                                  </div>
                                                  <div class="mb-3">
                                                    <label for="firstName" id="firstNameLabel" class="form-label is-required">Type<span class="visually-hidden"> (required)</span></label>
                                                    <select class="form-select" id="country" [(ngModel)]="this.demande.typeReference" aria-labelledby="countryLabel countryFeedback" autocomplete="country-name" required>
                                                        <!-- <option selected disabled value="" aria-hidden="true">Select a country</option> -->
                                                        <option value="BC">BC</option>
                                                        <option value="DED">DED</option>
                                                      </select>
                                                      <div class="valid-feedback">
                                                      Bien!
                                                    </div>
                                                    <div id="firstNameFeedback" class="invalid-feedback">
                                                      selectionnez une type de reference.
                                                    </div>
                                                  </div>
                                                  <div class="mb-3">
                                                    <label for="email" id="emailLabel" class="form-label is-required">Devise<span class="visually-hidden"> (required)</span></label>
                                                    <select class="form-select" id="country" [(ngModel)]="this.demande.typeDevise" aria-labelledby="countryLabel countryFeedback" autocomplete="country-name" required>
                                                        <!-- <option selected disabled value="" aria-hidden="true">Select a country</option> -->
                                                        <option value="MGA">MGA</option>
                                                        <option value="USD">USD</option>
                                                        <option value="EUR">EUR</option>
                                
                                                      </select>
                                                    <div class="valid-feedback">
                                                      Bien!
                                                    </div>
                                                    <div id="emailFeedback" class="invalid-feedback">
                                                      Selectionnez le devise.
                                                    </div>
                                                  </div>
                                                  <div class="mb-3">
                                                    <label for="country" id="countryLabel" class="form-label is-required">Rubrique<span class="visually-hidden"> (required)</span></label>
                                                    <select class="form-select" [(ngModel)]="this.demande.idRubrique" aria-labelledby="countryLabel countryFeedback" autocomplete="country-name" required>
                                                      <option
                                                          *ngFor="let item of this.rubriques"
                                                          [value]="item.id"
                                                        >
                                                          {{ item.designation }}
                                                      </option>
                                                    </select>
                                                    <div class="valid-feedback">
                                                      Bien!
                                                    </div>
                                                    <div id="countryFeedback" class="invalid-feedback">
                                                      selectionnez le rubrique.
                                                    </div>
                                                  </div>
                                                  <div class="mb-3">
                                                    <label for="message" id="messageLabel" class="form-label is-required">Motif besoin<span class="visually-hidden"> (required)</span></label>
                                                    <button type="button" class="form-helper" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Help for text area">
                                                      <span class="visually-hidden">Helper for text area</span>
                                                    </button>
                                                    <textarea class="form-control" id="message"[(ngModel)]="this.demande.motif" rows="5" placeholder="votre motif" aria-labelledby="messageLabel messageFeedback" required></textarea>
                                                    <div class="valid-feedback">
                                                      Bien!
                                                    </div>
                                                    <div id="messageFeedback" class="invalid-feedback">
                                                        Motif vide.
                                                    </div>
                                                    
                                                  </div>
                                                </div>
                                              </div>
                                
                                              <div class="col-md-6">
                                               
                                                <div class="col-sm-4 col-md-6 mb-3">
                                                    <br>
                                                    <label for="selectTitle" id="selectTitleLabel" class="form-label is-required">Regularisation<span class="visually-hidden"> (required)</span></label>
                                                  <!-- [(ngModel)]="this.demande.estRegularisation" <input type="checkbox" class="form-control form-check-input" id="firstName" aria-labelledby="firstNameLabel firstNameFeedback" autocomplete="given-name" required> -->
                                                  <!-- <input class="form-control form-check-input" [(ngModel)]="this.demande.estRegularisation" type="checkbox"  role="switch" id="flexSwitchCheckChecked" checked> -->
                                                  <div class="">
                                                    <!-- <input class=" form-control form-check-input" type="checkbox" [(ngModel)]="this.demande.estregularisation" role="switch" id="flexSwitchCheckDefault"> -->
                                                    <label class="switch">
                                                      <input type="checkbox" [(ngModel)]="this.demande.estRegularisation">
                                                      <span class="slider round"></span>
                                                    </label>
                                                  </div>
                                                  <div class="valid-feedback">
                                                    Bien!
                                                  </div>
                                                  <div id="selectTitleFeedback" class="invalid-feedback">
                                                    Regularisation vide.
                                                  </div>
                                                </div>
                                                <div class="mb-3">
                                                  <label for="email" id="emailLabel" class="form-label is-required">Direction<span class="visually-hidden"> (required)</span></label>
                                                  <select
                                                        class="form-select"
                                                        id="inputGroupSelect04"aria-labelledby="countryLabel countryFeedback" autocomplete="country-name" required
                                                      >
                                                      <option selected>{{this.departement}}</option>
                                                         <!-- <option
                                                          *ngFor="let item of this.periodes"
                                                          [value]="item.id"
                                                        >
                                                          {{ item.designation }}
                                                        </option> -->
                                                  </select>
                                                  <div class="valid-feedback">
                                                    Bien!
                                                  </div>
                                                  <div id="emailFeedback" class="invalid-feedback">
                                                    Periode vide.
                                                  </div>
                                                </div>
                                                <div class="col-12">
                                                  <div class="mb-3">
                                                    <label for="firstName" id="firstNameLabel" class="form-label is-required">Fournisseurs<span class="visually-hidden"> (required)</span></label>
                                                    <input type="text" class="form-control" [(ngModel)]="this.demande.fournisseur" id="firstName" aria-labelledby="firstNameLabel firstNameFeedback" autocomplete="given-name" required>
                                                    <div class="valid-feedback">
                                                      Bien!
                                                    </div>
                                                    <div id="firstNameFeedback" class="invalid-feedback">
                                                      Fournisseurs vide.
                                                    </div>
                                                  </div>
                                                  <div class="mb-3">
                                                    <label for="lastName" id="lastNameLabel" class="form-label is-required">MontantHt<span class="visually-hidden"> (required)</span></label>
                                                    <input type="number" class="form-control"[(ngModel)]="this.demande.montantHt" id="lastName" aria-labelledby="lastNameLabel lastNameFeedback" autocomplete="family-name" required>
                                                    <div class="valid-feedback">
                                                      Bien!
                                                    </div>
                                                    <div id="lastNameFeedback" class="invalid-feedback">
                                                      MontantHt vide.
                                                    </div>
                                                  </div>
                                                  <div class="mb-3">
                                                    <label for="email" id="emailLabel" class="form-label is-required">Periode<span class="visually-hidden"> (required)</span></label>
                                                    <select
                                                          class="form-select"
                                                          [(ngModel)]="this.demande.idPeriode"
                                                          id="inputGroupSelect04"aria-labelledby="countryLabel countryFeedback" autocomplete="country-name" required
                                                        >
                                                          <option
                                                            *ngFor="let item of this.periodes"
                                                            [value]="item.id"
                                                          >
                                                            {{ item.designation }}
                                                          </option>
                                                    </select>
                                                    <div class="valid-feedback">
                                                      Bien!
                                                    </div>
                                                    <div id="emailFeedback" class="invalid-feedback">
                                                      Periode vide.
                                                    </div>
                                                  </div>
                                                  <div class="mb-3">
                                                    <label for="country" id="countryLabel" class="form-label is-required">Sous Rubrique<span class="visually-hidden"> (required)</span></label>
                                                    <input type="text" class="form-control" [(ngModel)]="this.demande.sousRubrique" id="lastName" aria-labelledby="lastNameLabel lastNameFeedback" autocomplete="family-name" required>
                                                    
                                                    <div class="valid-feedback">
                                                      Bien!
                                                    </div>
                                                    <div id="countryFeedback" class="invalid-feedback">
                                                      sous Rubrique vide.
                                                    </div>
                                                  </div>
                                                
                                                  
                                                  <div class="mb-3">
                                                    
                                                    <label for="message" id="messageLabel" class="form-label is-required">Commentaire<span class="visually-hidden"> (required)</span></label>
                                                    <button type="button" class="form-helper" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Help for text area">
                                                      <span class="visually-hidden">Helper for text area</span>
                                                    </button>
                                                    <textarea class="form-control" id="message" [(ngModel)]="this.demande.comsPrescripteur" rows="5" placeholder="votre commentaire" aria-labelledby="messageLabel messageFeedback" required></textarea>
                                                    <div class="valid-feedback">
                                                      Bien!
                                                    </div>
                                                    <div id="messageFeedback" class="invalid-feedback">
                                                      commentaire vide.
                                                    </div>
                                                  </div>

                                                  <div *ngIf="role === 'PRS' && this.demande.validationPrescripteur === false " class=" p-3 d-flex justify-content-end" >
                                                    <div class="error-message">
                                                      <p class="text-success">{{ errorMessage }}</p>
                                                    </div>
                                                    <button type="button" class="btn btn-primary mx-3" (click)="precedent()">Précedent</button>
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >Supprimer</button> 
                                                    <button type="button" class="btn btn-primary mx-3"(click)="update()">Enregistrer</button>
                                                    <button type="button" class="btn btn-primary "(click)="valider()">Soumettre</button>  

                                                    <!--/ Modal  de suppression -->

                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                      <div class="modal-dialog">
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <h1 class="modal-title h5" id="exampleModalLabel">Modal title</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Close"><span class="visually-hidden">Close</span></button>
                                                          </div>
                                                          <div class="modal-body">
                                                            <p>Etes vous sûr de vouloir supprimer cette demande ?</p>
                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                                                            <button type="button" class="btn btn-primary" (click)="supprimationDemande()" data-bs-dismiss="modal">Supprimer</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <!-- Modal  de suppression /-->

                                                  </div>

                                                </div>
                                              </div>
                                        </div>
                                        <!-- </form> -->
                                      </div>

                                    </div>
                                  </div>
                                  </fieldset>
                                  <!-- pop up titre -->
                                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title h5" id="exampleModalLabel">Titre</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Close"><span class="visually-hidden">Close</span></button>
                                        </div>
                                        <div class="modal-body">
                                          <form>
                                            <div class="mb-3">
                                              <label for="recipient-name" class="col-form-label">Ajout titre:</label>
                                              <input type="text" class="form-control" [(ngModel)]="titredepense.designation" [ngModelOptions]="{standalone:true}" id="recipient-name">
                                              
                                            </div>
                                            
                                          </form>
                                        </div>
                                        <div class="modal-footer">
                                         <button type="button" class="btn btn-primary" (click)="Ajouttitre()" data-bs-dismiss="modal">Enregistrer</button>
                                          </div>
                                      </div>
                                    </div>
                                    
                                  </div>
                                        <!-- <div class="mx-4">
                                            <div class=" justify-content-around d-flex form-group" >
                                              <div class="d-flex">
                                                  <div class="label">
                                                    <span class="input-group-text mb-2" id="basic-addon1">Regularisation</span>
                                                    <span class="input-group-text mb-2" id="basic-addon1">opax/capex</span>
                                                    <span class="input-group-text mb-2" id="basic-addon1">typeRéference</span>
                                                    <span class="input-group-text mb-2" id="basic-addon1">Réference</span>
                                                    <span class="input-group-text mb-2" id="basic-addon1">Devise</span>
                                                    <span class="input-group-text mb-2" id="basic-addon1">Rubrique</span>
                                                    <span class="input-group-text mb-2" id="basic-addon1">Commentaire prescripteur</span>
                                                  </div>
                                                  <div class="mx-3">
                                                    <div class="form-check mb-2 form-switch">
                                                      <input class="form-check-input" [(ngModel)]="this.demande.estRegularisation"type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                                    </div>
                                                      <div class="input-group mb-2">
                                                        <select
                                                          class="form-select"
                                                          [(ngModel)]="this.demande.depense" 
                                                          id="inputGroupSelect04"
                                                          aria-label="Example select with button addon"
                                                        >
                                                          <option *ngIf="this.demande.depense === 'OPAX'"  [ngValue]="'OPAX'" selected>OPAX</option>
                                                          <option *ngIf="this.demande.depense === 'CAPEX'"  [ngValue]="'CAPEX'" selected>CAPEX</option>
                                                          <option *ngIf="this.demande.depense === 'CAPEX'" >OPAX</option>
                                                          <option *ngIf="this.demande.depense === 'OPAX'" >CAPEX</option>
                                                        </select>
                                                      </div>
                                                      <div class="input-group mb-2"> 
                                                        <select class="form-select" [(ngModel)]="this.demande.typeReference" id="inputGroupSelect04" aria-label="Example select with button addon">
                                                          <option *ngIf="this.demande.typeReference === 'DED'"  [ngValue]="'DED'" selected>DED</option>
                                                          <option *ngIf="this.demande.typeReference === 'BC'"  [ngValue]="'BC'" selected>BC</option>
                                                          <option *ngIf="this.demande.typeReference === 'DED'"[ngValue]="'BC'">BC</option>
                                                          <option *ngIf="this.demande.typeReference === 'BC'"  [ngValue]="'DED'">DED</option>
                                                        </select>
                                                    </div> 
                                                   <input type="text" class="form-control mb-2" placeholder="" aria-label="" aria-describedby="basic-addon1"  [(ngModel)]="this.demande.nomReference">
                                                     
                                                     <div class="input-group mb-2">
                                                        <select class="form-select" [(ngModel)]="this.demande.typeDevise" id="inputGroupSelect04" aria-label="Example select with button addon">
                                                          <option *ngIf="this.demande.devise === 'EUR'"  [ngValue]="'EUR'" selected>EUR</option>
                                                          <option *ngIf="this.demande.devise  === 'USD'"  [ngValue]="'USD'" selected>USD</option>
                                                          <option *ngIf="this.demande.devise  === 'MGA'"  [ngValue]="'MGA'" selected>MGA</option>
                                                          <option *ngIf="this.demande.devise == 'EUR' || this.demande.devise == 'USD'">MGA</option>
                                                          <option *ngIf="this.demande.devise  === 'EUR'">USD</option>
                                                          <option *ngIf="this.demande.devise  === 'USD'">EUR</option>
                                                          <option *ngIf="this.demande.devise  === 'MGA'" >USD</option>
                                                          <option *ngIf="this.demande.devise  === 'MGA'" >EUR</option>
                                                          
                                                        </select>
                                                    </div>
                                                    <div class="input-group mb-2">
                                                      <select class="form-select" [(ngModel)]="this.demande.idRubrique" id="inputGroupSelect04" aria-label="Example select with button addon">
                                                        <option *ngFor="let item of this.rubriques" [value]="item.id"> {{item.designation}}  </option>
                                                  
                                                      </select>
                                                     </div>
                                                     <input type="text" class="form-control mb-2" placeholder="" aria-label="commentaire Prescripteur" aria-describedby="basic-addon1" [(ngModel)]="this.demande.comsPrescripteur"> 
                                                  </div>
                                              </div>
                                              <div class="d-flex">
                                                <div class="label">
                                                    <span class="input-group-text mb-2" id="basic-addon1">Titre</span>
                                                    <span class="input-group-text mb-4" id="basic-addon1">Motif Besoin</span> 
                                                    <span class="input-group-text mb-2" id="basic-addon1">fournisseurs</span>
                                                    <span class="input-group-text mb-2" id="basic-addon1">Montant HT</span>
                                                    <span class="input-group-text mb-2" id="basic-addon1">Sous rubrique</span>
                                                   
                                                    <span class="input-group-text mb-2" id="basic-addon1">Période prestation</span>
                                                  </div>
                                                  <div class="mx-3">
                                                    <div class="input-group mb-2">
                                                      <select class="form-select" [(ngModel)]="this.demande.idTitreDepense" id="titreDepense" aria-label="Liste déroulante des titres de dépenses">
                                                          <option *ngFor="let titre of titres" [value]="titre.id">{{ titre.designation }}</option>
                                                      </select>
                                                     <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">+</button>
                                                   </div>
                                                 </div>
                                      <div class="d-flex justify-content-end">
                                        <p class="text-success p-2">
                                          {{ this.demande.validationPrescripteur ? 'validé' : 'non validé' }}
                                        </p>
                                      </div>
                                </div>
                            
                              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title h5" id="exampleModalLabel">Titre</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Close"><span class="visually-hidden">Close</span></button>
                                    </div>
                                    <div class="modal-body">
                                      <form>
                                        <div class="mb-3">
                                          <label for="recipient-name" class="col-form-label">Ajout titre:</label>
                                          <input type="text" class="form-control" [(ngModel)]="titredepense.designation" [ngModelOptions]="{standalone:true}" id="recipient-name">
                                          
                                        </div>
                                        
                                      </form>
                                    </div>
                                    <div class="modal-footer">
                                     <button type="button" class="btn btn-primary" (click)="Ajouttitre()" data-bs-dismiss="modal">Enregistrer</button>
                                      </div>
                                  </div>
                                </div>
                                
                              </div>
                              
                                <div *ngIf="role === 'PRS' && this.demande.validationPrescripteur === false " class="bt p-3 d-flex justify-content-end" >
                                <div class="error-message">
                                  <p class="text-success">{{ errorMessage }}</p>
                                </div>
                                <button type="button" class="btn btn-primary mx-3" routerLink="../../creationprescripteur">Nouveau</button> 
                                <button type="button" class="btn btn-primary mx-3"(click)="update()">Enregistrer</button>
                                  <button type="button" class="btn btn-primary "(click)="valider()">Soumettre</button>  
                              </div>
                      </fieldset>-->
                      <div *ngIf="role === 'CDG' || role === 'ACH' ">
                      <!--partie cdg-->
                          <fieldset class="form-group border border-1 p-2">
                            <legend class="w-auto px-2">CDG
                                    <button  (click)="toggleDown()" class="btn" data-bs-toggle="collapse" href="#collapseExample1"  aria-expanded="false" aria-controls="collapseExample1">
                                        <i class="fa" [ngClass]="{'fa-chevron-up': isUp2, 'fa-chevron-down': !isUp2}"></i>
                                    </button>
                            </legend>
                            <div class="collapse show" id="collapseExample1">
                                



                              

                              








                              <div class="card card-body">
                                <div class="col-sm-12 col-lg-3 offset-lg-1" style="width: 80%;">
                 
                                  <!-- <form class="needs-validation mb-5" novalidate> -->
                                  <div class="row">
                                      <div class="col-md-6">
                                     
                                          
                                          <div class="col-12">
                                            <div class="mb-3">
                                              <label for="firstName" id="firstNameLabel" class="form-label is-required">montant ray<span class="visually-hidden"> (required)</span></label>
                                              
                                              <input type="number" step="any" class="form-control"[(ngModel)]="this.AvisCdg.montantBudgetMensuel"(ngModelChange)="calculerResultat()" id="lastName" aria-labelledby="lastNameLabel lastNameFeedback" autocomplete="family-name" required>
                                             
                                                <div class="valid-feedback">
                                                Bien!
                                              </div>
                                              <div id="firstNameFeedback" class="invalid-feedback">
                                                selectionnez opex ou capex .
                                              </div>
                                            </div>
                                            <div class="mb-3">
                                              <label for="firstName" id="firstNameLabel" class="form-label is-required">Reliquat<span class="visually-hidden"> (required)</span></label>
                                              <span class="form-control"  id="lastName" aria-labelledby="lastNameLabel lastNameFeedback" autocomplete="family-name">{{this.reliquat}}</span>
                                                
                                            </div>
                                            
                                            
                                          </div>
                                        </div>
                          
                                        <div class="col-md-6">
                                         
                                        
                                          
                                          <div class="col-12">
                                            
                                            
                                            
                                            <div class="mb-3">
                                              <label for="country" id="countryLabel" class="form-label is-required">Montant engage<span class="visually-hidden"> (required)</span></label>
                                              <input type="number" step="any" class="form-control"  [(ngModel)]="this.AvisCdg.montantEngage" (ngModelChange)="calculerResultat()" id="lastName" aria-labelledby="lastNameLabel lastNameFeedback" autocomplete="family-name" required>
                                              
                                              <div class="valid-feedback">
                                                Bien!
                                              </div>
                                              <div id="countryFeedback" class="invalid-feedback">
                                                sous Rubrique vide.
                                              </div>
                                            </div>
                                          
                                            
                                            <div class="mb-3">
                                              
                                              <label for="message" id="messageLabel" class="form-label is-required">Commentaire<span class="visually-hidden"> (required)</span></label>
                                              <button type="button" class="form-helper" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Help for text area">
                                                <span class="visually-hidden">Helper for text area</span>
                                              </button>
                                              <textarea class="form-control" id="message" [(ngModel)]="this.AvisCdg.commentaire" rows="5" placeholder="votre commentaire" aria-labelledby="messageLabel messageFeedback" required></textarea>
                                              <div class="valid-feedback">
                                                Bien!
                                              </div>
                                              <div id="messageFeedback" class="invalid-feedback">
                                                commentaire vide.
                                              </div>
                                            </div>
                                            
                                          </div>
                                        </div>
                                        <!-- ANNULATION CDG -->
                                        <div *ngIf="role === 'CDG'" class=" d-flex justify-content-end">
                                          <button  class="btn btn-primary mx-3" *ngIf="this.demande.validationCdg===true || this.demande.estRefuseCdg===true" (click)="annulationCdg()">Annuler</button>
                                        </div>
                                        <div *ngIf="role === 'CDG' && this.demande.validationCdg === false && this.demande.estRefuseCdg === false" class=" p-3 d-flex justify-content-end" >
                                          <div class="error-message">
                                            <p class="text-success">{{ errorMessage }}</p>
                                          </div>
                                          <button type="button" class="btn btn-primary mx-3"(click)="enregistrerCdg()" >Enregistrer</button> 
                                          <button type="button" class="btn btn-primary mx-3" *ngIf="this.existanceAvisCdg === true" (click)="modificationCdg()" >Modifier</button> 
                                          <button type="button" class="btn btn-primary mx-3"(click)="refuserCdg()">Refuser</button>  
                                          
                                            <button type="button" class="btn btn-primary" (click)="validationCdg()">Valider</button>  
                                          
                                        </div>
                                  </div>
                                  <!-- </form> -->
                                </div>
                              </div>
                            </div>
                          </fieldset>
                      
                          
                      
                      <div *ngIf="role === 'ACH'">
                              <!--partie Achat-->
                              <fieldset class="form-group border border-1 p-2">
                                  <legend class="w-auto px-2">Achat
                                          <button  (click)="toggleIcon()" class="btn"data-bs-toggle="collapse" href="#collapseExample2"  aria-expanded="false" aria-controls="collapseExample2">
                                              <i class="fa"[ngClass]="{'fa-chevron-up': isUp3, 'fa-chevron-down': !isUp3}"></i>
                                            </button>
                                  </legend>
                                  <div class="collapse show" id="collapseExample2">
                                      <div class="card card-body " >
                                        <div class="col-sm-12 col-lg-3 offset-lg-1" style="width: 80%;">
                                          <div class="mb-3">
                                              
                                            <label for="message" id="messageLabel" class="form-label is-required">Commentaire<span class="visually-hidden"> (required)</span></label>
                                            <button type="button" class="form-helper" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Help for text area">
                                              <span class="visually-hidden">Helper for text area</span>
                                            </button>
                                            <textarea class="form-control" id="message" [(ngModel)]="this.AvisAchat.commentaire" rows="5" placeholder="votre commentaire" aria-labelledby="messageLabel messageFeedback" required></textarea>
                                            <div class="valid-feedback">
                                              Bien!
                                            </div>
                                            <div id="messageFeedback" class="invalid-feedback">
                                              commentaire vide.
                                            </div>
                                          </div>
                                           <!-- annulation achat -->
                                            <div *ngIf="role === 'ACH'" class=" d-flex justify-content-end">
                                              <button  class="btn btn-primary mx-3" *ngIf="this.demande.validationAchat===true || this.demande.estRefuseAchat===true" (click)="annulationAchat()">Annuler</button>
                                            </div>
                                            <div class="d-flex justify-content-end" *ngIf="this.demande.validationAchat === false && this.demande.estRefuseAchat === false " >
                                                <!-- <div class="error-message">
                                                  <p class="text-success">{{ errorMessage }}</p>
                                                </div> -->
                                                <div *ngIf="role === 'ACH'">
                                                    <button type="button" class="btn btn-primary mx-3" (click)="EnregistrerAchat()">Enregistrer</button>  
                                                    <button type="button" *ngIf="this.existanceAvisAchat === true" class="btn btn-primary mx-3" (click)="modificationAchat()">Modifier</button>   
                                                    <button type="button" class="btn btn-primary mx-3"(click)="refuserAchat()">Refuser</button>  
                                                    <button type="button" class="btn btn-primary mx-3" (click)="validationAchat()">Valider</button>  
                                                </div>
                                            </div> 
                                        </div>
                                          
                                      </div>
                                      <!-- <div class="d-flex justify-content-end" *ngIf="this.demande.validationAchat === true" >
                                          <p class="text-success p-2">validé</p>
                                      </div> -->
                                      <!-- messange validé ou non par le Cdg -->
                                      <div class="d-flex justify-content-end">
                                        <p class="text-success p-2">
                                          {{ this.demande.validationAchat ? 'validé' : this.demande.estRefuseAchat ? 'Refusé' : 'En attente' }}
                                        </p>
                                      </div>
                                    </div>
                              </fieldset>
                             
                      </div>
                    </div>
      </div>
                    
       
    </section>
    
  </body>