@import '~@fortawesome/fontawesome-free/css/all.css';
section,.bt{
    background-color: #ddd;
     }
.input-group{
    width: 600px;
    height: 40px;
}
.ele1{
	height: 60px;
	width: 400px;
	font-size: 18px;
	font-size: 18px;
}
@media screen and (max-width: 650px) {
    .input-group{
        width: 400px;
        height: 30px;
        padding: 20px;
    }
}

@media screen and (max-width: 320px) {
    .input-group{
        width: 200px;
        height: 15px;
        padding: 20px;
    }
}