<body>
  <section class="mx-3 p-1">
    <div class="main">


      <div class="card text-center" *ngIf="role === 'PRS'">
          <div class="card-header border-primary text-body  d-flex justify-content-between">
            <ul class="nav nav-tabs card-header-tabs ">
              <li class="nav-item">
                <button class="nav-link text-primary" aria-current="true" (click)="brouillonclique()" >Brouillon Liste des Demandes</button>
                <!-- <a class="nav-link active" aria-current="true" href="active">Active</a> -->
              </li>
              <li class="nav-item text-primary">
                <button class="nav-link" aria-current="true" (click)="brouilloncliqueactive()">Listes en attente de sousmission</button>
              </li>
              
            </ul>
            <div >
              
                <button
                type="button"
                class="btn "
                [routerLink]="'/main/creationprescripteur'"
              >
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="solaris-icon si-add text-black" viewBox="0 0 1000 1000">
                <path d="M850 400H600V150a50 50 0 0 0-50-50H450a50 50 0 0 0-50 50v250H150a50 50 0 0 0-50 50v100a50 50 0 0 0 50 50h250v250a50 50 0 0 0 50 50h100a50 50 0 0 0 50-50V600h250a50 50 0 0 0 50-50V450a50 50 0 0 0-50-50" style="fill-rule:evenodd"/>
              </svg>
              </button>
              
            </div>
          </div>
          <div class="" *ngIf="isbrouillon===true">
              <table class="table table-fixed">
                <thead>
                  <tr class="titre">
                    <th scope="col" class="col-3 titre">Titre</th>
                    <th scope="col" class="col-3 titre">Motif</th>
                    <th scope="col" class="col-3 titre">Periode</th>
                    <th scope="col" class="col-3 titre">Reference</th>
                  </tr>
                </thead>
                <tbody
                >
                  <tr *ngFor="let detail of this.brouillon" [routerLink]="['/main/teste/', detail.id]"
                  class="mb-1 p-1 scrollspy-example"
                  data-spy="scroll"
                  data-target="#navbarExample"
                  data-offset="50"
                  
                  >  
                        <td class="col-3 ">{{ detail.titre }}</td>
                        <td class="col-3 ">{{ detail.motif }}</td>
                        <td class="col-3 ">{{ detail.periode }}</td>
                        <td class="col-3 ">{{ detail.reference }}</td>
                  </tr>
                    
                </tbody>
              </table>
          </div>
          <div class="card-body" *ngIf="brouilloncliqueActive===true">
            <h5 class="card-title">en attente</h5>
          </div>
      </div>




      <!-- <div *ngIf="role === 'PRS'">
        <div class="card">
          <div
            class="card-header border-primary text-body p-3 navbar navbar-static d-flex justify-content-between"
            id="navbarExample"
          >
            <p class="text-primary">Brouillon Liste des Demandes</p>
            <button
              type="button"
              class="btn "
              [routerLink]="'/main/creationprescripteur'"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="solaris-icon si-add text-black" viewBox="0 0 1000 1000">
              <path d="M850 400H600V150a50 50 0 0 0-50-50H450a50 50 0 0 0-50 50v250H150a50 50 0 0 0-50 50v100a50 50 0 0 0 50 50h250v250a50 50 0 0 0 50 50h100a50 50 0 0 0 50-50V600h250a50 50 0 0 0 50-50V450a50 50 0 0 0-50-50" style="fill-rule:evenodd"/>
            </svg>
            </button>
          </div>
          
          <table class="table table-fixed">
            <thead>
              <tr class="titre">
                <th scope="col" class="col-3 titre">Titre</th>
                <th scope="col" class="col-3 titre">Motif</th>
                <th scope="col" class="col-3 titre">Periode</th>
                <th scope="col" class="col-3 titre">Reference</th>
              </tr>
            </thead>
            <tbody
            >
              <tr *ngFor="let detail of this.brouillon" [routerLink]="['/main/teste/', detail.id]"
              class="mb-1 p-1 scrollspy-example"
              data-spy="scroll"
              data-target="#navbarExample"
              data-offset="50"
              
              >  
                    <td class="col-3 ">{{ detail.titre }}</td>
                    <td class="col-3 ">{{ detail.motif }}</td>
                    <td class="col-3 ">{{ detail.periode }}</td>
                    <td class="col-3 ">{{ detail.reference }}</td>
              </tr>
                
            </tbody>
        </table>

        </div>
      </div> -->
      <br />
<!-- table active demande -->
 <div class="card">
  <div
    class="card-header border-primary text-body p-3 navbar navbar-static d-flex justify-content-between"
    id="navbarExample"
  >
    <div><p class="text-primary">Listes des Demandes CD Active</p></div>
    <div>
      <div *ngIf="role === 'PRS'">
        <button type="button" class="btn btn-primary"  (click)="exportToExcel()">
          Extraction
        </button>
      </div>
      <div *ngIf="role === 'CDG' || role === 'ACH'">
        <div class="d-flex justify-content-end">
          <button
          type="button"
          class="btn"
          [routerLink]="'/main/creationprescripteur'"
        >
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="solaris-icon si-add" viewBox="0 0 1000 1000">
          <path d="M850 400H600V150a50 50 0 0 0-50-50H450a50 50 0 0 0-50 50v250H150a50 50 0 0 0-50 50v100a50 50 0 0 0 50 50h250v250a50 50 0 0 0 50 50h100a50 50 0 0 0 50-50V600h250a50 50 0 0 0 50-50V450a50 50 0 0 0-50-50" style="fill-rule:evenodd"/>
        </svg>
        </button>
          <button
            type="button"
            class="btn btn-primary  mx-2"
            routerLink="/validation"
          >
            Validation
          </button>
          <button type="button" class="btn btn-primary " (click)="exportToExcel()">
            Extraction
          </button>
        </div>
      </div>
    </div>
  </div>
  
    
  <table class="table table-fixed">
    <thead>
      <tr class="titre">
        <th scope="col" class="titre col-3">Titre</th>
        <th scope="col" class=" titre col-3">Motif</th>
        <th scope="col" class="titre col-3">Periode</th>
        <th scope="col" class="titre col-3">Reference</th>
      </tr>
    </thead>
    <tbody
    >
      <tr *ngFor="let detail of this.DetailDemande" [routerLink]="['/main/teste/', detail.id]"
      class="mb-1 p-1 scrollspy-example "
      data-spy="scroll"
      data-target="#navbarExample"
      data-offset="50"
      
      >  
            <td class="col-3 ">{{ detail.titre }}</td>
            <td class="col-3 ">{{ detail.motif }}</td>
            <td class="col-3 ">{{ detail.periode }}</td>
            <td class="col-3 ">{{ detail.reference }}</td>
      </tr>
        
    </tbody>
</table>
    </div>        
  </div>
  </section>
</body>




<!-- <div class="container text-white">
  <div class="container">
      <div class="row">
          <div class="bg-white rounded shadow">

              <Fixed header table
              <div class="table-responsive">
                  <table class="table table-fixed">
                      <thead>
                        <tr>
                          <th scope="col" class="col-3">Titre</th>
                          <th scope="col" class="col-3">Motif</th>
                          <th scope="col" class="col-3">Periode</th>
                          <th scope="col" class="col-3">Reference</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let detail of this.DetailDemande" [routerLink]="['/main/teste/', detail.id]"
                        [ngClass]="{
                          'active': detail.validationcdg,
                          'classePrecedente': true
                        }" class="p-4">
                            <ng-container *ngIf="
                            detail.validationprescripteur &&
                            detail.iddirection === this.direction.id 
                          " >
                              <td class="col-3">{{ detail.titre }}</td>
                              <td class="col-3">{{ detail.motif }}</td>
                              <td class="col-3">{{ detail.periode }}</td>
                              <td class="col-3">{{ detail.reference }}</td>
                            </ng-container>
                          </tr>
                          
                      </tbody>
                  </table>
              </div>
              
          </div>
      </div>
  </div>
</div> 


<!-- <ul class="list-group list-inline">
  <li class="mb-2" *ngFor="let detail of this.brouillon">
    <a
      [routerLink]="['/main/teste/', detail.id]"
      class="list-group-item list-group-item-action"
      aria-current="true"
    >
      <div class="d-flex w-100 justify-content-between">
        <div>
          <h5 class="mb-1">{{ detail.titre }}</h5>
          <p class="mb-1">{{ detail.motif }}</p>
        </div>
        <div>
          <small>{{ detail.periode }}</small> <br />
          <small>{{ detail.reference }}</small>
        </div>
      </div>
    </a>
  </li>
</ul> -->
<!-- active -->
<!-- <div class="card">
  <div
    class="card-header border-primary text-body p-3 navbar navbar-static d-flex justify-content-between"
    id="navbarExample"
  >
    <div><p class="text-primary">Listes des Demandes CD Active</p></div>
    <div>
      <div *ngIf="role === 'PRS'">
        <button type="button" class="btn btn-primary disabled p-2 "  (click)="exportToExcel()">
          Extraction
        </button>
      </div>
      <div *ngIf="role === 'CDG' || role === 'ACH'">
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-primary p-2 text-white mx-2"
            routerLink="/validation"
          >
            Validation
          </button>
          <button type="button" class="btn btn-primary disabled p-2" (click)="exportToExcel()">
            Extraction
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="card-body scrollspy-example"
    data-spy="scroll"
    data-target="#navbarExample"
    data-offset="50"
  >
    <ul class="list-group list-inline">
      <li class="mb-2" *ngFor="let detail of this.DetailDemande">
        <a
          [routerLink]="['/main/teste/', detail.id]"
          [ngClass]="{
            'list-group-item list-group-item-action': true,
            active: detail.validationcdg,
            classePrecedente: true
          }"
          aria-current="true"
          *ngIf="
            detail.validationprescripteur &&
            detail.iddirection === this.direction.id
          "
          class="list-group-item list-group-item-action"
          aria-current="true"
        >
          <div class="d-flex w-100 justify-content-between">
            <div>
              <h5 class="mb-1">{{ detail.titre }}</h5>
              <p class="mb-1">{{ detail.motif }}</p>
            </div>
            <div>
              <small>{{ detail.periode }}</small> <br />
              <small>{{ detail.reference }}</small>
            </div>
          </div>
        </a>
      </li>
    </ul>

  </div>
</div> -->