.icon-modi{
  width: 23px;
  height: 19px;
}
.icon-modi:hover{
  color: #ff7900;
}
// body{
//   background-color:#eee;
//   }
// table .tbody{
//   height: 50px;
//   overflow-y: auto;
//   width: 100%;
// }

// tr,td,.listetitre{
//   position: relative;
// }
// .table-fixed tbody {
//   // height: 500px;
//   overflow-y: auto;
//   width: 100%;
// }




// .table-fixed tbody td,
// .table-fixed tbody th,
// .table-fixed thead > tr > th {
//    float: left;
//    position: relative;

// }
// .texte{
//   padding: 10px;
// }



// body {
//   background-color: #eee;
//   height: 770px;
// }
// table,.card,header,.titre,thead {
//   background-color: #eee;
// }
// .card-header,
// .card {
//   background-color: #ddd;
// }
.titreliste{
  background: #eee;
}
.bleu{
  color: cadetblue;
}

.rouge{
  color: red;
}

.vert{
  color: green;
}
.texte1{
  width: 100px;
}
// .texte2{
//   width: 119px;
// }
.texte{
  width: 150px;
}

// .texte3{
//   width: 139px;
// }
// .scrollspy-example {
//   overflow: auto;
//   position: relative;
// }
.icon {
  font-size: 30px;
}
svg {
  width: 23px;
  height: 23px;
}
.mo{
  width: 150px;
}
@media (max-width: 768px) {
  .icon-modi{
    width: 7px;
    height: 5px;
  }
  .icon {
    font-size: 8px;
  }
svg { 
  width: 10px;
  height: 10px;
}
.texte1{
  width: 100px;
}
// .texte2{
//   width: 100px;
// }
.texte{
  width: 100px;
}

// .texte3{
//   width: 100px;
// }
}