// .card{
//   height: 350px;
// }
.icon-modi{
  width: 23px;
  height: 19px;
}
.icon-modi:hover{
  color: #ff7900;
}
.titreliste{
  background: #eee;
}
.bleu{
  color: #3e9dd6;
}

.rouge{
  color: #f66;
}

.vert{
  color: #6c6;
}
.texte1{
  width: 100px;
}
.texte{
  width: 150px;
}

.icon {
  font-size: 30px;
}
svg {
  width: 23px;
  height: 23px;
}
.mo{
  width: 150px;
}
@media (max-width: 768px) {
  .icon-modi{
    width: 7px;
    height: 5px;
  }
  .icon {
    font-size: 8px;
  }
svg { 
  width: 10px;
  height: 10px;
}
.texte1{
  width: 100px;
}
.texte{
  width: 100px;
}


}