
body{
    background-color: white;
}
.card-header,.card{
    background-color: #eee;
}
.list-group-item:hover{
    border-left:  #ff7900 ;
    background-color: #ddd;
}
     .scrollspy-example {
      height: 250px;
      overflow: auto;
      position: relative;
      }
      .icon{font-size: 30px;}
      @media (max-width: 768px) {
        .icon{
            font-size: 8px;
        }
}