<body>
  <section class="mx-4  p-1">
    <div class="main">

      <div class="">
        <div class="d-flex justify-content-end p-2">
          <button
                type="button"
                class="btn "
                [routerLink]="'/main/creationprescripteur'"
              >
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="solaris-icon si-add text-black me-2" viewBox="0 0 1000 1000">
                <path d="M850 400H600V150a50 50 0 0 0-50-50H450a50 50 0 0 0-50 50v250H150a50 50 0 0 0-50 50v100a50 50 0 0 0 50 50h250v250a50 50 0 0 0 50 50h100a50 50 0 0 0 50-50V600h250a50 50 0 0 0 50-50V450a50 50 0 0 0-50-50" style="fill-rule:evenodd"/>
              </svg> Ajout de ligne
              </button>
              <button type="button" class="btn  btn-secondary " (click)="exportToExcel()">
                Extraction
              </button>
        </div>
          <div class="card-header  text-body bg-body  active ">
            <ul class="nav nav-tabs card-header-tabs ">
             
              <li class="nav-item" *ngIf="role === 'PRS'">
                <!-- <button class="nav-link " aria-current="true" (click)="brouillonclique()" >Brouillon Liste des Demandes</button> -->
                <a class="nav-link " aria-current="true" [class.active]="brouillonActive" (click)="brouillonclique()">Brouillon liste des demandes</a>
              </li>
              <li class="nav-item " *ngIf="role === 'PRS'">
                <button class="nav-link" aria-current="true"[class.active]="listesessionActive" (click)="brouilloncliqueactive()">Liste en attente session</button>
              </li>
             
              
                <li class="nav-item ">
                  <button class="nav-link" aria-current="true"[class.active]="Activedemande" (click)="brouilloncliqueactivedemande()">Liste CD active</button>
                  
                </li>
                
             
            </ul>
            
          </div>



          
          <!-- BROUILLON -->
          <div class="card" *ngIf="isbrouillon===true">
             
            <table class="table table-fixed">
              <thead>
                <tr class="titre" >
                      <th scope="col" class="titre "style="width:168px;">Identifiant</th>
                      <th scope="col" class="titre "style="width:168px;">Titre</th>
                      <th scope="col" class=" titre "style="width:168px;">Motif</th>
                      <th scope="col" class="titre "style="width:168px;">Devise</th>
                      <th scope="col" class="titre "style="width:168px;">Montant</th>
                      <th scope="col" class="titre "style="width:168px;">Fournisseurs</th>
                      <th scope="col" class="titre "style="width:170px;">Date création</th>
                  
                </tr>
              </thead>
              <tbody>
                <!-- [routerLink]="['/main/teste/', detail.id]" -->
                <tr *ngFor="let detail of this.brouillon" 
                class=" p-1 scrollspy-example"
                data-spy="scroll"
                data-target="#navbarExample"
                data-offset="50"
                > 
                 <a class="btn"  data-bs-toggle="collapse" [attr.href]="'#'+ detail.identifiant" role="button" aria-expanded="false" [attr.aria-controls]="detail.identifiant">
                    <td style="width:168px;" class="texte">{{ detail.identifiant }}</td>
                    <td style="width:168px;"class="texte">{{ detail.titre }}</td>
                    <td style="width:168px;"class="texte">{{ detail.motif }}</td>
                    <td style="width:168px;"class="texte">{{ detail.devise }}</td>
                    <td style="width:168px;"class="texte">{{ detail.montantht }}</td>
                    <td style="width:168px;"class="texte">{{ detail.fournisseur }}</td>
                    <td style="width:170px;"class="texte">{{ detail.dateCreation | date:'EEEE dd MMMM yyyy HH:mm':'fr-FR' }} </td>
                </a><br> 
                <div class="collapse" id="{{detail.identifiant}}">
                  <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close d-flex justify-content-end" data-bs-toggle="collapse" [attr.href]="'#' + detail.identifiant" aria-expanded="false" [attr.aria-controls]="detail.identifiant" data-bs-title="Close"><span class="visually-hidden">Close</span></button>
                    
                  </div>
                  <div class="">
                   <div>
                    <button type="button" class="btn mx-2 btn-primary " [routerLink]="['/main/teste/', detail.id]">Modifier</button>
                    <button type="button" class="btn btn-secondary mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getid(detail.id)" >Supprimer</button> 
                    <button type="button" class="btn  btn-primary " data-bs-toggle="modal" data-bs-target="#example"(click)="getid(detail.id)">Soumettre</button>
                  
                  </div>
                  </div>
                </div>
                 

              </tr>
              </tbody>
              
            </table>
            <!-- modal suppression -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title h5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Close"><span class="visually-hidden">Close</span></button>
                  </div>
                  <div class="modal-body">
                    <p>Etes vous sûr de vouloir supprimer cette demande ?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                    <!--  -->
                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="supprimationDemande()">Supprimer</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- modal soumission -->
            <div class="modal fade" id="example" tabindex="-1" aria-labelledby="exampleLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title h5" id="exampleLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Close"><span class="visually-hidden">Close</span></button>
                  </div>
                  <div class="modal-body">
                    <p>Etes vous sûr de vouloir soumettre cette demande ?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                    <!--  -->
                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal"(click)="Soumission()">Soumettre</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ATTENTE SESSION -->
          <div class="card" *ngIf="brouilloncliqueActive===true" style=" height: 500px;">
            <ul class="list-group"*ngFor="let detail of this.AttenteSession" >
              <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
                {{detail.titre}}
                <button class="btn" class="badge text-bg-info rounded-pill" (click)="annulerdemande()">annuler</button>
              </li>
              
            </ul>
          </div>
          <!-- AVTIVE DEMANDE -->
          
          <div class="card" *ngIf="Activedemandeclique===true" style=" height: 500px;"
                class="mb-1 p-1 scrollspy-example "
                data-spy="scroll"
                data-target="#navbarExample"
                data-offset="50"class="listetitre"
          >

          <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item" *ngFor="let titre of groupedDetailDemandes | keyvalue" >
            <p class="accordion-header bg-ligth ">
              <button class="accordion-button" type="button"  data-bs-toggle="collapse"
              [attr.href]="'#collapseExample-' +normaliserTitre(titre.key)"
              aria-expanded="false" 
              [attr.aria-controls]="'collapseExample-' + normaliserTitre(titre.key)">
                {{ titre.key }}
              </button>
            </p>
            <div  class="collapse " id="collapseExample-{{ normaliserTitre(titre.key) }}">
              
                <div *ngFor="let direction of titre.value | keyvalue">
                                 
                  <table class="table">
                      <tr
                      
                      >
                        <th class="p-3">Identifiant</th>
                        <th class="p-3">Motif</th>
                        <th class="p-3">Devise</th>
                        <th class="p-3">Montant (HT)</th>
                        <th class="p-3">Fournisseur</th>
                        <th class="p-3">Date Creation</th>
                        </tr>
                      <tr *ngFor="let demande of direction.value" [routerLink]="['/main/teste/', demande.id]">
                          <td class="p-3 ">{{ this.demande.identifiant }}</td>
                          <td class="p-3 ">{{ this.demande.motif }}</td>
                          <td class="p-3 ">{{ this.demande.devise }}</td>
                          <td class="p-3">{{ this.demande.montantht }}</td>
                          <td classq="p-3 ">{{ this.demande.fournisseur }}</td>
                          <td class="p-3">{{ this.demande.dateCreation | date:'EEEE dd MMMM yyyy HH:mm':'fr-FR' }}</td>
                         
                          
                      </tr>
                    </table>
               
                
              </div>
            </div>
          </div>
        </div>
           
          </div>
      </div>
      

    </div>
   
  </section>
 
</body>

















<!-- table active demande -->
 <!-- <div class="card">
  <div
    class="card-header p-3 navbar navbar-static d-flex justify-content-between"
    id="navbarExample"
  >
    <div><p class="">Listes des Demandes CD Active</p></div>
    <div>
      <div *ngIf="role === 'PRS'">
        <button type="button" class="btn btn-primary"  (click)="exportToExcel()">
          Extraction
        </button>
      </div>
      <div *ngIf="role === 'CDG' || role === 'ACH'">
        <div class="d-flex justify-content-end">
          <button
          type="button"
          class="btn"
          [routerLink]="'/main/creationprescripteur'"
        >
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="solaris-icon si-add" viewBox="0 0 1000 1000">
          <path d="M850 400H600V150a50 50 0 0 0-50-50H450a50 50 0 0 0-50 50v250H150a50 50 0 0 0-50 50v100a50 50 0 0 0 50 50h250v250a50 50 0 0 0 50 50h100a50 50 0 0 0 50-50V600h250a50 50 0 0 0 50-50V450a50 50 0 0 0-50-50" style="fill-rule:evenodd"/>
        </svg>
        </button>
          <button
            type="button"
            class="btn btn-primary  mx-2"
            routerLink="/validation"
          >
            Validation
          </button>
          <button type="button" class="btn btn-primary " (click)="exportToExcel()">
            Extraction
          </button>
        </div>
      </div>
    </div>
  </div>
  
   <div *ngFor="let titre of groupedDetailDemandes | keyvalue">
    <fieldset class="form-group border border-end-0">
      <legend class="px-2 d-flex justify-content-between">
        <h5 class="p-2">{{ titre.key }}</h5>
        <a
          class="fs-3 text fw-bold btn"
          data-bs-toggle="collapse"
          [attr.href]="'#collapseExample-' + titre.key"
          aria-expanded="false" 
          [attr.aria-controls]="'collapseExample-' + titre.key"
        >+
        
      </a>
      </legend>
      <div class="collapse" id="collapseExample-{{ titre.key }}">  <div data-offset="50">
        <div *ngFor="let direction of titre.value | keyvalue">
                        <table class="table">
                          <tr>
                            <th class="p-3">Identifiant</th>
                            <th class="p-3">Motif</th>
                            <th class="p-3">Devise</th>
                            <th class="p-3">Montant (HT)</th>
                            <th class="p-3">Fournisseur</th>
                            <th class="p-3">Date Creation</th>
                            </tr>
                          <tr *ngFor="let demande of direction.value" [routerLink]="['/main/teste/', demande.id]" >
                            <ng-container 
                            >
                              
                              <td class="p-3 ">{{ this.demande.identifiant }}</td>
                              <td class="p-3 ">{{ this.demande.motif }}</td>
                              <td class="p-3 ">{{ this.demande.devise }}</td>
                              <td class="p-3">{{ this.demande.montantht }}</td>
                              <td classq="p-3 ">{{ this.demande.fournisseur }}</td>
                              <td class="p-3">{{ this.demande.dateCreation | date:'EEEE dd MMMM yyyy HH:mm':'fr-FR' }}</td>
                             
                              
                                </ng-container>
                          </tr>
                        </table>
                      </div>
                </div>
              </div>
        
        
    </fieldset>
  </div> -->
  <!-- version le taloh -->
  <!-- <div *ngFor="let titre of groupedDetailDemandes | keyvalue">
    <h2>{{ titre.key }}</h2>
    <div *ngFor="let direction of titre.value | keyvalue">
       <h3>{{ direction.key }}</h3> 
      <ul>
        <li *ngFor="let demande of direction.value">
          Demande ID: {{ demande.id }} {{demande.devise}}<br>
          Titre: {{ demande.titre }}<br>
          Direction: {{ demande.iddirection }}
        </li>
      </ul>
    </div></div>
  </div> -->
  










<!-- version tao  brouillon-->
<!-- 
  <table class="table table-fixed">
                <thead>
                  <tr class="">
                    <th scope="col" class="titre "style="width:170px;">Identifiant</th>
                    <th scope="col" class="titre "style="width:170px;">Titre</th>
                    <th scope="col" class=" titre "style="width:170px;">Motif</th>
                    <th scope="col" class="titre "style="width:170px;">Devise</th>
                    <th scope="col" class="titre "style="width:170px;">Montant</th>
                    <th scope="col" class="titre "style="width:170px;">Fournisseurs</th>
                    <th scope="col" class="titre "style="width:179px;">Date création</th>
                  </tr>
                </thead>
                <tbody
                >
                  <tr *ngFor="let detail of this.brouillon" [routerLink]="['/main/teste/', detail.id]"
                  class="mb-1 p-1 scrollspy-example"
                  data-spy="scroll"
                  data-target="#navbarExample"
                  data-offset="50"
                  
                  >  
                  <td style="width:170px;">{{ detail.identifiant }}</td>
                  <td style="width:170px;">{{ detail.titre }}</td>
                  <td style="width:170px;">{{ detail.motif }}</td>
                  <td style="width:170px;">{{ detail.devise }}</td>
                  <td style="width:170px;">{{ detail.montantht }}</td>
                  <td style="width:170px;">{{ detail.fournisseur }}</td>
                  <td style="width:171px;">{{ detail.dateCreation | date:'EEEE dd MMMM yyyy HH:mm':'fr-FR' }} </td>
                  </tr>
                    
                </tbody>
              </table>
 -->
<!-- version taloha -->
 <!-- <table class="table table-fixed">
  <thead>
    <tr class="titre">
      <th scope="col" class="titre col-1">Identifiant</th>
      <th scope="col" class="titre col-1">Titre</th>
      <th scope="col" class=" titre col-2">Motif</th>
      <th scope="col" class="titre col-2">Devise</th>
      <th scope="col" class="titre col-2">Montant</th>
      <th scope="col" class="titre col-2">Fournisseurs</th>
      <th scope="col" class="titre col-2">Date création</th>
    </tr>
  </thead>
  <tbody
  >
    <tr *ngFor="let detail of this.DetailDemande" [routerLink]="['/main/teste/', detail.id]"
    class="mb-1 p-1 scrollspy-example "
    data-spy="scroll"
    data-target="#navbarExample"
    data-offset="50"
    >  
          <td class="col-1 ">{{ detail.id }}</td>
          <td class="col-1 ">{{ detail.titre }}</td>
          <td class="col-2 ">{{ detail.motif }}</td>
          <td class="col-2 ">{{ detail.devise }}</td>
          <td class="col-2 ">{{ detail.montantht }}</td>
          <td class="col-2 ">{{ detail.fournisseur }}</td>
          <td class="col-2 "> detail.date </td>
    </tr>
      
  </tbody>
</table>  -->








<!-- <table class="table table-fixed">
  <thead>
    <tr class="titre">
      <th scope="col" class="titre col-1">Titre</th>
      <th scope="col" class="titre col-1">Identifiant</th>
      <th scope="col" class="titre col-2">Motif</th>
      <th scope="col" class="titre col-2">Devise</th>
      <th scope="col" class="titre col-2">Montant</th>
      <th scope="col" class="titre col-2">Fournisseurs</th>
      <th scope="col" class="titre col-2">Date création</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let groupTitle of groupedDetailDemandes | keyvalue">
      <tr>
        <td colspan="6" class="titre col-1">{{ groupTitle.key }}</td>
      </tr>
      <tr *ngFor="let detailDemande of groupTitle.value;">
        <td class="col-1">{{detailDemande.identifiant}}</td>
        <td class="titre col-2">{{detailDemande.motif}}</td>
        <td class="titre col-2">{{detailDemande.devise}}</td>
        <td class="titre col-2">{{detailDemande.montantht}}</td>
        <td class="titre col-2">{{detailDemande.fournisseur}}</td>
        <td class="titre col-2">{{detailDemande.dateCreation}}</td>
      </tr>
    </ng-container>
  </tbody>
</table> -->









