<div class="main row justify-content-around pt-5">

    <div class="card mb-3 p-4" style="width:650px;">
        
        <h1>prescripteur </h1>
        <form action="">
                <p>trigramme:</p>
                <p>regularisation *</p>
                    <select >
                        <option value=""></option>
                    </select>

                <p>type</p>
                    <select >
                        <option value=""></option>
                    </select>
                <p>reference BC</p>
                    <input type="text">

                <p>reference DED</p>
                    <input type="text">    

                <p>titre</p>
                    <!-- raha efa misy -->
                    <select >
                        <option value=""></option>
                    </select>
                    <!-- raha mbola TSY misy -->
                    <input type="text" >
                
                <P>motif besoin *</P>
                    <input type="text" >
                
                <p>fournisseur</p>
                    <input type="text" >
                
                <p>devise *</p>
                    <select >
                        <option value=""></option>
                    </select>

                <p>montant HT *</p>
                    <input type="number" step="any" >
                
                <p>commentaire</p>
                    <input type="text">
                
                <p>periode prestation</p>
                    <select name="" id="">
                        <option value=""></option>
                    </select>

                <p>rubrique budgetaire *</p>
                    <select name="" id="">
                        <option value=""></option>
                    </select>

                <p>sous rubrique</p>
                    <input type="text">
                
                <p>direction: </p>   
                
                <p>service</p>
                    <select name="" id="">
                        <option value=""></option>
                    </select>
                <p>montant mga</p>
                <input type="submit" value="Validez">
        </form>
    </div>
</div>