


<body>
  <section class="mx-3 p-1">
    <div class="main  pt-3">
         
        <div *ngIf="role === 'PRS' ">
            <div class="card">
                <div class="card-header bg-transparent border-primary text-body p-3 navbar navbar-static d-flex justify-content-between" id="navbarExample">
                <p> Brouillon liste des demandes </p>
                <button type="button" class="btn" [routerLink]="'/main/creationprescripteur'" >+</button>
                </div>
                <div class="card-body scrollspy-example" data-spy="scroll" data-target="#navbarExample" data-offset="50">    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item justify-content-between d-flex " *ngFor="let brouillon of brouillons">
                          <div>
                            <h6 >{{brouillon.titre}} <p>{{brouillon.motif}}</p></h6>
                          </div>
                            <div>
                                <button type="button" class="btn"><i class="icon fas fa-chevron-circle-right" [routerLink]="['/main/teste/', brouillon.id]" ></i></button> 
                                <!-- aff -->
                            </div>
                        </li>
                      </ul>
          


                            



                </div>





            </div>
            <br> <br>
        </div>
       
        
          <div class="card">
            <div class="card-header bg-transparent border-primary text-body p-3 navbar navbar-static d-flex justify-content-between" id="navbarExample">
              <div><p> Listes des demandes CD Active </p></div>
              <div>
                  <div *ngIf="role === 'CDG' || role === 'ACH'">
                    <div class="d-flex justify-content-end" >
                        <button type="button" class="btn btn-primary p-1 mx-2" routerLink="/validation">Validation</button> 
                         <button type="button" class="btn btn-primary p-1">Extraction</button>  
                    </div> 
                  </div> 
              </div>
             
              </div>
              <div class="card-body scrollspy-example" data-spy="scroll" data-target="#navbarExample" data-offset="50">    
                <ul class="list-group list-group-flush">
                  <li class="list-group-item justify-content-between d-flex " *ngFor="let active of actives">
                    <div>
                      <h6 >{{active.titre}} <p>{{active.motif}}</p></h6>
                    </div>
                      <div>
                          <button type="button" class="btn"><i class="icon fas fa-chevron-circle-right" [routerLink]="['/main/teste/', active.id]" ></i></button>
                          <!-- detaildemande -->
                        </div>
                  </li>
                </ul>
          </div>
      </div>
    </div>
</section>
</body>
            




