/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.body{
        text-align: center;
        align-items: center;
        margin-top: 10%;
        margin-left: 30%;
    
}

.container {
	width: 500px;
	background-color: white;
	box-shadow: 8px 8px 20px rgb(128, 128, 128);
	position: relative;
	overflow: hidden;
}
.btn {
	height: 60px;
	width: 150px;
	box-shadow: 10px 10px 30px rgb(254, 215, 188);
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.pass{
	margin-left: 200px;
}
.moveslider {
	left: 250px;
}

.form-section {
	height: 500px;
	width: 1000px;
	padding: 20px 0;
	display: flex;
	position: relative;
	transition: all 0.5s ease-in-out;
	left: 0px;
}

.form-section-move {
	left: -500px;
}
.login-box,
.signup-box {
	height: 100%;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-box {
	gap: 20px;
}

.signup-box {
	gap: 20px;
}
.ele1{
	height: 60px;
	width: 400px;
	font-size: 18px;
	border-radius: 50px;
	padding-left: 30px;
	font-size: 18px;
}
.hide {
	display: none;
  }
  .inner-addon { 
	  position: relative; 
  }
  .inner-addon .far {
	position: absolute;
	padding: 30px 32px;
	z-index: 100;
	cursor: pointer;
  }
  .left-addon .far  { left:  0px; }
  .right-addon .far { right: 0px; }
   
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
/* For Responsiveness of the page */

@media screen and (max-width: 650px) {
	.container {
		width: 300px;
	}
	.login,
	.signup {
		font-size: 19px;
	}
	.moveslider {
		left: 150px;
	}

	.form-section {
		height: 500px;
		width: 600px;
	}

	.form-section-move {
		left: -300px;
	}

	.login-box,
	.signup-box {
		height: 100%;
		width: 300px;
	}

	.ele1 {
		height: 50px;
		width: 250px;
		font-size: 15px;
	}
	.pass{
		margin-left: 100px;
	}
}

@media screen and (max-width: 320px) {
	.container {
		width: 250px;
	}
	.login,
	.signup {
		font-size: 19px;
	}
	.moveslider {
		left: 127px;
	}

	.form-section {
		height: 500px;
		width: 500px;
	}

	.form-section-move {
		left: -250px;
	}
	.login-box,
	.signup-box {
		height: 100%;
		width: 250px;
	}
	.ele1 {
		height: 50px;
		width: 220px;
		font-size: 15px;
	}
}