

<section class="mx-3">
    <div class="mx-2 pt-5">
        <fieldset class="form-group border border-1 p-3">
            <legend class="w-auto px-2">Prescripteur
                   
             </legend>
           <!--  -->
                <div class="card card-body" >
                    <div class="mx-4 p-4">
                        <div class=" justify-content-around d-flex">
                          <div class="d-flex">
                              <div class="label">
                                <span class="input-group-text mb-2" id="basic-addon1">Regularisation</span>
                                <span class="input-group-text mb-2" id="basic-addon1">Type</span>
                                <span class="input-group-text mb-2" id="basic-addon1">Motif Besoin</span>
                                <span class="input-group-text mb-2" id="basic-addon1">Devise</span>
                                <span class="input-group-text mb-2" id="basic-addon1">Rubrique</span>
                                <span class="input-group-text mb-2" id="basic-addon1">Commentaire prescripteur</span>
                              </div>
                              <div class="mx-3">
                                <!-- <input type="text" class="form-control mb-2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
                                <div class="form-check mb-2 form-switch">
                                  <input class="form-check-input" [(ngModel)]="this.demande.is_regularisation"type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                 </div>
                                 <div class="input-group mb-2">
                                      <select class="form-select" [(ngModel)]="this.demande.type_reference" id="inputGroupSelect04" aria-label="Example select with button addon">
                                        <option selected value="BC">Réference BC</option>
                                        <option value="DED">Réference DED</option>
                                      </select>
                                </div>
                                <input type="text" class="form-control mb-2"  [(ngModel)]="this.demande.motif" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                
                                 <div class="input-group mb-2">
                                      <select class="form-select" [(ngModel)]="this.demande.type_devise" id="inputGroupSelect04" aria-label="Example select with button addon">
                                        <option  value="EUR" >EUR</option>
                                        <option value="USD">USD</option>
                                      </select>
                                  </div>
                                  <div class="input-group mb-2">
                                    <select class="form-select" [(ngModel)]="this.demande.id_rubrique" id="inputGroupSelect04" aria-label="Example select with button addon">
                                      <option *ngFor="let item of this.rubriques" [value]="item.id"> {{item.designation}}  </option>
                                
                                    </select>
                                   </div>
                                 <input type="text"type="text"  [(ngModel)]="this.demande.coms_prescripteur" class="form-control mb-2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                              </div>
                          </div>
                          
                          <div class="d-flex">
                             <div class="label">
                                <span class="input-group-text mb-2" id="basic-addon1">Titre</span>
                                <span class="input-group-text mb-3" id="basic-addon1">Réference</span>
                                <span class="input-group-text mb-2" id="basic-addon1">fournisseurs</span>
                                <span class="input-group-text mb-3" id="basic-addon1">Montant HT</span>
                                <span class="input-group-text mb-2" id="basic-addon1">Sous Rubrique</span>               
                                <span class="input-group-text mb-2" id="basic-addon1">Période prestation</span>
                               </div>
                              <div class="mx-3">
                                    <!--creation titre-->
                                    <div class="input-group mb-2">
                                        <select class="form-select" [(ngModel)]="this.demande.id_titre_depense"  id="idtitre" aria-label="Example select with button addon">
                                          <option *ngFor="let item of this.titres " [value]="item.id"> {{item.designation}}  </option>
                                         <option >{{this.texte}}</option>
                                        </select>
                                       <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">+</button>
                                     </div>
                                     <input type="text" step="any"[(ngModel)]="this.demande.nom_reference" class="form-control mb-2" placeholder="reference" aria-label="Username" aria-describedby="basic-addon1">
                                     <div class="input-group mb-2">
                                      <select class="form-select" [(ngModel)]="this.demande.id_fournisseur" id="inputGroupSelect04" aria-label="Example select with button addon">
                                        <option *ngFor="let item of this.fournisseurs" [value]="item.id"> {{item.nom}}  </option>
                                  
                                      </select>
                                     </div>
                                   <input type="number" step="any" [(ngModel)]="this.demande.montant_ht" class="form-control mb-2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                   <input type="text" class="form-control mb-2" placeholder="Username" aria-label="Username" [(ngModel)]="this.demande.sousrubrique" aria-describedby="basic-addon1">
                                   <div class="input-group mb-2">
                                    <select class="form-select"  [(ngModel)]="this.demande.id_periode"id="inputGroupSelect04" aria-label="Example select with button addon">
                                      <option *ngFor="let item of this.periodes" [value]="item.id"> {{item.designation}}  </option>
                                    </select>
                                   </div>
                                </div>
                        </div>
                        </div>
                      
                    </div>
                        
                  </div>
                  
        </fieldset>  
        <div class="bt p-3 d-flex justify-content-end" >  
          <div class="error-message">
            <p class="text-warning">{{ errorMessage }}</p>
          </div>
            <button type="button" class="btn btn-primary p-2 mx-2" (click)="creerDemande()">Ajouter</button>  
        </div> 
    </div>
</section>

<!--POP UP TITRTE-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h5" id="exampleModalLabel">Titre</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Close"><span class="visually-hidden">Close</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Ajout titre:</label>
            <input type="text" class="form-control" [(ngModel)]="titre_depense.designation" [ngModelOptions]="{standalone:true}" id="recipient-name">
            
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-primary" (click)="Ajouttitre()" data-bs-dismiss="modal">Enregistrer</button>
        </div>
    </div>
  </div>
</div>
