<button class="m-2 btn btn-primary"  ><a routerLinkActive="active" routerLink="/login">se connecter</a></button>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Fugit nostrum possimus placeat nemo delectus ipsam magni numquam soluta. 
        <br>Cumque consectetur similique sunt delectus modi? Sapiente facilis obcaecati excepturi doloribus ex?</p> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nostrum possimus placeat nemo delectus ipsam magni numquam soluta. 
            <br>Cumque consectetur similique sunt delectus modi? Sapiente facilis obcaecati excepturi doloribus ex?</p> 
<router-outlet></router-outlet>